crear-cita-.json
{
  "updatedAt": "2025-11-27T16:43:10.641Z",
  "createdAt": "2025-11-27T16:43:10.641Z",
  "id": "tJQNIwtJSUvq8yH8",
  "name": "Crear Cita",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/crear-cita",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": " application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        208
      ],
      "id": "9421b013-8c90-4183-abc1-1f8c3b865a3a",
      "name": "Webhook",
      "webhookId": "a01a0f86-b582-496a-a87c-7a1725f8e523"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "26511fe382958416668b7d02b1e0c4906a89ff2317546d62eec3f4e4a6a8c70a@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n test"
        },
        "start": "={{ $('Construir DateTime').item.json.startDateTime }}",
        "end": "={{ $('Construir DateTime').item.json.endDateTime }}",
        "additionalFields": {
          "description": "={{ $json.nombre_cliente }} ",
          "summary": "=Vísita técnica  {{ $json.tipo_servicio }} - {{ $json.nombre_cliente }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1120,
        208
      ],
      "id": "6111b5bc-32a7-44ea-b98b-9a4d3ca09f7c",
      "name": "Create an event"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06172830-8655-4741-aa76-261715a07be7",
              "name": "status",
              "value": "=confirmed",
              "type": "string"
            },
            {
              "id": "49130130-55b3-4c80-b50a-286d10b3e43d",
              "name": "event_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ad25366e-b338-443e-a05f-d71b57f77dde",
              "name": "fecha_inicio",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "33afcd98-c66b-4fdc-b0e3-a7951eb511d5",
              "name": "fecha_fin",
              "value": "={{ $json.end.dateTime }}",
              "type": "string"
            },
            {
              "id": "224b5674-f351-4909-a1f0-b9593c313859",
              "name": "link_calendario",
              "value": "={{ $json.htmlLink }}",
              "type": "string"
            },
            {
              "id": "970bcdf7-3aa2-47c9-9ef6-6db31601c4da",
              "name": "cita_id",
              "value": "={{ $('Insertar Cita').item.json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        208
      ],
      "id": "109501c3-0d39-494b-ab64-32cf93099b93",
      "name": "Formatear Respuesta"
    },
    {
      "parameters": {
        "jsCode": "// Código corregido para el nodo Code\nconst fecha = $('Webhook').first().json.body.fecha_preferida;;\nconst rango = $('Webhook').first().json.body.hora_preferida;\n\n// Validar que tenemos los datos necesarios\nif (!fecha || !rango) {\n  throw new Error('Faltan datos requeridos: fecha_entrega o hora_preferida');\n}\n\nconst [horaInicio, horaFin] = rango.split('-');\nif (!horaInicio || !horaFin) {\n  throw new Error('Formato de hora_preferida inválido. Use HH:MM-HH:MM');\n}\n\n// Validar que sea exactamente 1 hora\nconst inicio = new Date(`${fecha}T${horaInicio}:00`);\nconst fin = new Date(`${fecha}T${horaFin}:00`);\nconst diffHoras = (fin - inicio) / (1000 * 60 * 60);\n\nif (diffHoras !== 1) {\n  throw new Error(`El rango debe ser exactamente 1 hora. Recibido: ${diffHoras} horas`);\n}\n\n// Helper para timezone offset\nfunction getOffsetString(date) {\n  const offsetMin = -date.getTimezoneOffset();\n  const sign = offsetMin >= 0 ? '+' : '-';\n  const abs = Math.abs(offsetMin);\n  const hh = String(Math.floor(abs / 60)).padStart(2, '0');\n  const mm = String(abs % 60).padStart(2, '0');\n  return `${sign}${hh}:${mm}`;\n}\n\nconst offset = getOffsetString(inicio);\nconst startDateTime = `${fecha}T${horaInicio}:00.000${offset}`;\nconst endDateTime = `${fecha}T${horaFin}:00.000${offset}`;\n\nreturn [{\n  ...$json,\n  // Para Postgres\n  hora_inicio: `${horaInicio}:00`,\n  hora_fin: `${horaFin}:00`,\n  estado: 'confirmado',\n  created_at: new Date().toISOString(),\n  // Para Google Calendar\n  startDateTime,\n  endDateTime,\n  // Datos originales para referencia\n  body: $('Webhook').first().json.body\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        208
      ],
      "id": "0d0f8bc0-1d03-408f-9d3b-c76b6a302100",
      "name": "Construir DateTime"
    },
    {
      "parameters": {
        "jsCode": "// NUEVO NODO CODE - Validación\nconst body = $('Webhook').first().json.body;\n\n// 1. Validar campos requeridos\nconst required = ['nombre', 'telefono', 'email', 'tipo_servicio', 'fecha_preferida', 'hora_preferida', 'direccion'];\nconst missing = required.filter(field => !body[field] || body[field].trim() === '');\n\nif (missing.length > 0) {\n  throw new Error(`Faltan campos obligatorios: ${missing.join(', ')}. Por favor completa todos los datos.`);\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(body.email)) {\n  throw new Error('Formato de email inválido. Debe ser un email válido (ej: usuario@dominio.com)');\n}\n\n// Validar formato de fecha (YYYY-MM-DD)\nconst fechaRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!fechaRegex.test(body.fecha_preferida)) {\n  throw new Error('Formato de fecha inválido. Debe ser YYYY-MM-DD (ej: 2024-01-15)');\n}\n\n// Validar formato de hora (HH:MM-HH:MM) y que sea 1 hora exacta\nconst horaRegex = /^([0-1][0-9]|2[0-3]):[0-5][0-9]-([0-1][0-9]|2[0-3]):[0-5][0-9]$/;\nif (!horaRegex.test(body.hora_preferida)) {\n  throw new Error('Formato de hora inválido. Debe ser HH:MM-HH:MM (ej: 14:00-15:00)');\n}\n\n// Validar que sea exactamente 1 hora\nconst [inicio, fin] = body.hora_preferida.split('-');\nconst diff = (parseInt(fin.split(':')[0]) * 60 + parseInt(fin.split(':')[1])) - \n             (parseInt(inicio.split(':')[0]) * 60 + parseInt(inicio.split(':')[1]));\n             \nif (diff !== 60) {\n  throw new Error('El rango horario debe ser exactamente de 1 hora (ej: 14:00-15:00)');\n}\n\n// 5. Validar tipo de servicio\nconst serviciosValidos = ['cctv', 'control_accesos', 'deteccion_incendios'];\nif (!serviciosValidos.includes(body.tipo_servicio)) {\n  throw new Error(`Tipo de servicio inválido. Debe ser uno de: ${serviciosValidos.join(', ')}`);\n}\n\n// 6. Validar teléfono (mínimo 10 dígitos)\nconst telefonoLimpio = body.telefono.replace(/\\D/g, '');\nif (telefonoLimpio.length < 10) {\n  throw new Error('El teléfono debe tener al menos 10 dígitos');\n}\n\n// Si pasa todas las validaciones\nreturn [{ \n  body: {\n    ...body,\n    telefono: telefonoLimpio\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ],
      "id": "1b1739c5-06f7-473d-b035-091d39622cea",
      "name": "Validar Cita"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Insertar Cita').item.json.email }}",
        "subject": "=Confirmación de Cita Técnica - {{ $('Insertar Cita').item.json.nombre_cliente }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #667eea, #764ba2); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #f9f9f9; padding: 30px; }\n        .details { background: white; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #667eea; }\n        .detail-row { display: flex; margin-bottom: 10px; }\n        .detail-icon { width: 30px; font-weight: bold; }\n        .footer { background: #2d3748; color: white; padding: 20px; text-align: center; border-radius: 0 0 10px 10px; font-size: 12px; }\n        .button { background: #667eea; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 10px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>Lucam Service</h1>\n        <p>La precisión que tu seguridad necesita</p>\n    </div>\n    \n    <div class=\"content\">\n        <h2>Hola {{ $('Insertar Cita').item.json.nombre_cliente }},</h2>\n        <p style=\"background: #48bb78; color: white; padding: 10px; border-radius: 5px; display: inline-block;\">✅ CITA CONFIRMADA</p>\n        \n        <p>Tu cita técnica ha sido agendada exitosamente:</p>\n        \n        <div class=\"details\">\n            <div class=\"detail-row\"><div class=\"detail-icon\">📅</div><div><strong>Fecha:</strong> {{ $('Construir DateTime').item.json.body.fecha_preferida }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">⏰</div><div><strong>Hora:</strong> {{ $('Construir DateTime').item.json.hora_inicio }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">📍</div><div><strong>Dirección:</strong> {{ $('Insertar Cita').item.json.direccion }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">🔧</div><div><strong>Servicio:</strong> {{ $('Insertar Cita').item.json.tipo_servicio}}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">📞</div><div><strong>Teléfono:</strong> {{ $('Insertar Cita').item.json.telefono }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">📧</div><div><strong>Email:</strong> {{$('Insertar Cita').item.json.email}}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">📝</div><div><strong>Notas:</strong> {{ $('Insertar Cita').item.json.notas}}</div></div>\n            \n        </div>\n        \n        <div style=\"text-align: center; margin: 25px 0;\">\n            <a href=\"https://calendar.google.com/calendar/render?action=TEMPLATE&text=Cita+Técnica+{{ $('Insertar Cita').item.json.nombre_cliente }}&dates={{ $json.fecha_inicio }}/{{ $json.fecha_fin }}&details=Visita+técnica+para+{{ $('Insertar Cita').item.json.tipo_servicio }}&location={{ $('Insertar Cita').item.json.direccion }}\" class=\"button\">\n                📅 Agregar a Google Calendar\n            </a>\n        </div>\n        \n        <p><strong>Recordatorio:</strong> Te enviaremos un recordatorio 24 horas antes.</p>\n    </div>\n    \n    <div class=\"footer\">\n        <p>Lucam Service • soporte@lucamservice.com • +52 55 1234 5678</p>\n        <p>Este es un correo automático. Por favor no responder.</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        208
      ],
      "id": "83c4e877-526e-488b-bf87-35a7a58fc7d6",
      "name": "Send a message",
      "webhookId": "079a17ca-4cde-44a7-a817-03dec143698b"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_cliente": "={{ $json.body.nombre }}",
            "telefono": "={{ $json.body.telefono }}",
            "email": "={{ $json.body.email }}",
            "tipo_servicio": "={{ $json.body.tipo_servicio }}",
            "direccion": "={{ $json.body.direccion }}",
            "fecha_entrega": "={{ $json.body.fecha_preferida }}",
            "hora_inicio": "={{ $json.hora_inicio }}",
            "hora_fin": "={{ $json.hora_fin }}",
            "estado": "={{ $json.estado }}",
            "created_at": "={{ $now }}",
            "notas": "={{ $json.body.notas }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_servicio",
              "displayName": "tipo_servicio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_entrega",
              "displayName": "fecha_entrega",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        208
      ],
      "id": "a56571f7-af30-46a6-8d7b-d24ad49dce0f",
      "name": "Insertar Cita"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/procesar-cotizacion",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cita_id",
              "value": "=={{ $('Insertar Cita').first().json.id }}"
            },
            {
              "name": "cotizacion_data",
              "value": "=={{ $json.cotizacion_data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -16
      ],
      "id": "e5d5ac08-60f7-475b-8cd6-1ae37ff9084c",
      "name": "Llamar Flujo Cotizacion",
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir DateTime": {
      "main": [
        [
          {
            "node": "Insertar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Cita": {
      "main": [
        [
          {
            "node": "Construir DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Cita": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3149ba21-ff12-4dbe-9d0d-2dc85fad0343",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-27T16:43:10.641Z",
      "createdAt": "2025-11-27T16:43:10.641Z",
      "role": "workflow:owner",
      "workflowId": "tJQNIwtJSUvq8yH8",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "tags": []
}