2025/11/BAOY2JuV0PS3KusQ.json



{
  "active": false,
  "connections": {
    "Webhook Cotización": {
      "main": [
        [
          {
            "node": "Insertar Cotización Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Cotización Principal": {
      "main": [
        [
          {
            "node": "Preparar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Productos": {
      "main": [
        [
          {
            "node": "Insertar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Productos": {
      "main": [
        [
          {
            "node": "Fin Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-27T16:43:42.164Z",
  "id": "BAOY2JuV0PS3KusQ",
  "isArchived": false,
  "meta": null,
  "name": "Procesar Cotización",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/procesar-cotizacion",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "36685f98-9f6c-420d-9f1f-f28b2c3ab6e1",
      "name": "Webhook Cotización",
      "webhookId": "procesar-cotizacion-webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": "cotizaciones",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cita_id": "={{ $json.body.cita_id }}",
            "texto_completo": "={{ $json.body.cotizacion_data.texto_completo }}",
            "total_equipos": "={{ $json.body.cotizacion_data.total_equipos }}",
            "estado": "pendiente"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "73e07dd2-f9f0-42e5-bd5e-339905363a49",
      "name": "Insertar Cotización Principal"
    },
    {
      "parameters": {
        "jsCode": "const productos = $json.body.cotizacion_data.productos;\nconst cotizacionId = $('Insertar Cotización Principal').first().json.id;\n\n// Si no hay productos, devolvemos un array vacío\nif (!productos || productos.length === 0) {\n  return [];\n}\n\n// Mapear cada producto a un objeto con el cotizacion_id\nconst items = productos.map(producto => ({\n  cotizacion_id: cotizacionId,\n  nombre_producto: producto.nombre,\n  cantidad: producto.cantidad,\n  precio_unitario: producto.precio_unitario,\n  subtotal: producto.subtotal\n}));\n\n// Devolver un array de objetos, cada uno se insertará en el siguiente nodo\nreturn items.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "ab2f1ca6-020f-4c91-ab43-328f5c48c193",
      "name": "Preparar Productos"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": "productos_cotizados",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cotizacion_id": "={{ $json.cotizacion_id }}",
            "nombre_producto": "={{ $json.nombre_producto }}",
            "cantidad": "={{ $json.cantidad }}",
            "precio_unitario": "={{ $json.precio_unitario }}",
            "subtotal": "={{ $json.subtotal }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        0
      ],
      "id": "f8a24675-f2a9-403c-b668-e79788e98c39",
      "name": "Insertar Productos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "1c9bb1d0-2e2b-4e23-abcd-fa344233c9a1",
      "name": "Fin Cotización"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-init",
  "repo_owner": "ilhuicaminaTenoch",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-27T16:43:42.164Z",
      "createdAt": "2025-11-27T16:43:42.164Z",
      "role": "workflow:owner",
      "workflowId": "BAOY2JuV0PS3KusQ",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-27T16:43:42.164Z",
  "versionId": "e0fc267e-5e7b-43ee-b910-f6c88f5777a1"
}