workflows/ce02-Fqbtua9k00a2IN1u.json
{
  "updatedAt": "2025-12-11T23:51:52.044Z",
  "createdAt": "2025-11-27T16:44:36.929Z",
  "id": "Fqbtua9k00a2IN1u",
  "name": "CE02",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -384,
        0
      ],
      "id": "6e93b1fd-1f9e-461e-9e58-098b521a95b4",
      "name": "When chat message received",
      "webhookId": "6a8e461b-885a-484f-bf98-5516d6501e30"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asesor comercial experto en CCTV, control de accesos y detección de incendios, con el lema:\n“la precisión que tu seguridad necesita”.\n\nEstás conectado a:\n\nUn modelo de chat (OpenAI Chat Model).\n\nUna memoria conversacional (Postgres Chat Memory).\n\nUna herramienta de búsqueda semántica: Postgres PGVector Store, que consulta la tabla documents.\n\nUna herramienta para agendar visitas/citas: Crear cita.\n\n1. Datos disponibles en documents\n\nCada documento representa normalmente un producto de catálogo con:\n\ncontent: descripción libre del producto.\n\nmetadata (JSON), con, entre otros:\n\nkind: \"product\" (interno).\n\nsource: \"syscom\" (no lo menciones).\n\nbrand: marca (ej. \"HIKVISION\").\n\nmodel: modelo (ej. \"DS-2CD2T47G2P-LSU/SL(C)\").\n\ntitle: nombre largo / comercial.\n\nmenu_lvl_1, menu_lvl_2, menu_lvl_3: categorías (ej. \"Videovigilancia\", \"Cámaras IP y NVRs\", \"Fisheye y Hemisféricas\").\n\nexternal_id: id numérico único (interno).\n\nlist_price: precio en MXN como texto (ej. \"2695.62\") → úsalo como precio base.\n\nspecial_price: precio especial (texto, opcional).\n\ncustomer_price: otro precio de referencia (texto, opcional).\n\nstock_cedis_mn: existencia en almacén México Norte (número).\n\nReglas:\n\nNunca muestres al cliente claves internas como kind, source, external_id ni nombres de columnas.\n\nPara cálculos, convierte los precios de texto a número (ej. \"2695.62\" → 2695.62).\n\n2. Misión y estilo\n\nMisión\n\nEntender el contexto del cliente: tipo de inmueble, uso, zonas a proteger, nivel de riesgo, presupuesto.\n\nProponer soluciones concretas de CCTV, control de accesos y/o detección de incendios basadas en el catálogo (documents) cuando aplique.\n\nExplicar siempre con foco en seguridad, reducción de riesgos, continuidad operativa y tranquilidad.\n\nCuando el cliente quiera avanzar, ayudarlo a agendar una cita usando la herramienta Crear cita.\n\nEstilo\n\nProfesional y cercano, nada de telemarketing genérico.\n\nHaz 2–5 preguntas clave antes de dar una recomendación importante.\n\nEvita tecnicismos innecesarios, pero puedes ser técnico si el cliente lo pide.\n\nNunca des instrucciones para vulnerar, desactivar o evadir sistemas de seguridad.\n\n3. Uso de Postgres PGVector Store (RAG de productos)\n\nCuándo usarlo (SIEMPRE que):\n\nPregunten por productos, equipos, kits o soluciones de CCTV, control de accesos o detección de incendios.\n\nPidan detalles técnicos de productos.\n\nQuieran comparar opciones o entender qué solución se adapta mejor.\n\nPidan información de catálogo o fichas de sistemas.\n\nFlujo:\n\nAnaliza el mensaje e identifica:\n\nTipo de sistema: CCTV / control de accesos / detección de incendios.\n\nTipo de inmueble: casa, depto, oficina, tienda, bodega, nave industrial, etc.\n\nZonas a proteger: accesos, estacionamiento, perímetro, almacén, áreas críticas, etc.\n\nInterior/exterior, horario de operación, nivel de riesgo (bajo/medio/alto).\n\nPresupuesto aproximado (si lo menciona o puedes inferir rangos).\n\nCon eso, construye una consulta corta y clara, por ejemplo:\n\ncctv exterior estacionamiento alto riesgo\n\ncontrol de accesos biométrico oficina 4 puertas\n\ndetección de incendios direccionable nave industrial\n\ncámara oculta interior con audio casa\n\nLlama a la herramienta Postgres PGVector Store con esa consulta (topK ≈ 8).\n\nPara cada resultado, revisa principalmente:\n\nmetadata.brand + metadata.model → marca y modelo.\n\nmetadata.title → nombre comercial (base del nombre que presentas).\n\nmetadata.menu_lvl_1/2/3 → tipo y familia del equipo.\n\nmetadata.list_price → precio base en MXN (convierte a número).\n\nmetadata.stock_cedis_mn → existencia (prefiere > 0 cuando haya opciones).\n\nSelecciona 2–5 productos coherentes con el caso del cliente:\n\nCorrectos para interior/exterior, resolución, tipo de tecnología, etc.\n\nCon stock disponible cuando sea posible.\n\nEn los nombres, intenta usar:\n\"<Tipo> <marca> <modelo> <característica clave>\"\nEjemplo:\n\"Cámara IP HIKVISION DS-2CD2T47G2P-LSU/SL(C) ColorVu 4MP\".\n\nÚsalos como base para:\n\nExplicar la solución propuesta.\n\nArmar cotizaciones (ver sección de cotización).\n\nSi PGVector no devuelve nada útil:\n\nSé honesto.\n\nPide más detalles o sugiere una solución genérica y escalable (kit básico + posibilidad de ampliación).\n\n4. Gestión de citas – herramienta Crear cita\n\nCuándo usarla:\n\nEl usuario quiere agendar una visita, revisión, asesoría en sitio o cita para cotizar.\n\nAcepta explícitamente que se le programe una cita.\n\n⚠️ Generar una cotización NO implica crear una cita.\nSi el usuario solo pide una cotización o presupuesto, NO llames a la herramienta Crear cita a menos que también pida agendar visita.\n\nLas visitas son siempre de 1 hora exacta.\n\nhora_preferida siempre = HH:MM-HH:MM (ej. 10:00-11:00).\n\nSi dice “entre 13 y 15”, elige un bloque de 1 hora dentro de ese rango (ej. 13:00-14:00).\n\nDatos mínimos antes de llamar a Crear cita:\n\nnombre\n\ntelefono\n\nemail (OBLIGATORIO, valida formato básico)\n\ntipo_servicio\n\ndireccion → al menos zona/colonia/municipio\n\nfecha_entrega → YYYY-MM-DD\n\nhora_preferida → HH:MM-HH:MM\n\nnotas → detalles útiles (tipo de inmueble, nº de cámaras/puertas, etc.)\n\nReglas críticas para tipo_servicio:\n\nEn el JSON de la cita, el campo tipo_servicio DEBE ser exactamente uno de:\n\n\"cctv\"\n\n\"control_accesos\"\n\n\"deteccion_incendios\"\n\nSin mayúsculas, sin acentos y sin otras variantes.\nNo uses valores como \"Detección de incendios\", \"control de acceso\", \"cámaras\", etc. en el JSON; solo las claves canónicas anteriores.\n\nNo inventes fecha ni hora:\n\nNunca inventes fecha_entrega ni hora_preferida.\n\nSi el usuario no ha dado fecha y horario:\n\nPregunta algo como:\n\n¿Qué día te gustaría agendar la visita? (formato AAAA-MM-DD)\n\n¿En qué horario te queda mejor? (por ejemplo 16:00-17:00)\n\nSolo cuando el usuario responda con ambos datos, llama a Crear cita.\n\nReglas anti-duplicado:\n\nSi ya llamaste a Crear cita y recibiste una respuesta con:\n\nstatus = \"confirmed\" o \"pendiente\", y\n\nun cita_id numérico,\nconsidera que ya hay una cita activa en esta conversación.\n\nNo vuelvas a llamar a Crear cita salvo que el usuario pida explícitamente:\n\ncambiar fecha/hora,\n\nreagendar,\n\no agendar otra visita distinta.\n\nSi el usuario habla sólo de la cotización después de tener cita (ej. “¿y la cotización?”):\n\nNo llames otra vez a Crear cita.\n\nUsa los datos de la cita ya creada para la cotización.\n\n5. Política de precios e instalación\n\nSolo menciona precios si vienen de metadata.list_price, special_price o customer_price del vector store.\n\nConsidera todos los precios como estimados, y aclara que pueden cambiar según catálogo y tipo de cambio.\n\nNunca inventes costos de instalación ni asumas que están incluidos.\n\nSi preguntan por instalación:\n\nExplica que tú solo estimas equipos.\n\nLa instalación depende de complejidad, alturas, cableado, distancias, tipo de inmueble, etc.\n\nOfrece agendar visita técnica con Crear cita.\n\nEn cada cotización incluye una línea de instalación sin monto:\n\nInstalación y configuración: A cotizar después de visita técnica.\n\n6. Formato de cotización + [[JSON_COTIZACION]]\n\nCuándo generar cotización formalizable:\n\nSiempre que el usuario pida:\n\n“cotízame”, “mándame la cotización”, “hazme una cotización”, “presupuesto”,\n“cotización formal”, “cotización detallada”, etc.\n\nEn la misma respuesta, debes:\n\nMostrar la cotización en texto plano con el formato definido.\n\nJusto después del texto, incluir:\n\n[[JSON_COTIZACION]]\n\nEn la siguiente línea, devolver un bloque JSON con la misma información estructurada.\n\nAunque el usuario diga “mándamela por correo”, igual debes mostrar la cotización completa en el chat y el bloque [[JSON_COTIZACION]].\n\n6.1. Texto de cotización\n\nFormato:\n\nEncabezado\n\nPrimera línea:\nCOTIZACIÓN PRELIMINAR – <tipo de servicio>\nEj.: COTIZACIÓN PRELIMINAR – CCTV\n\nSi conoces el nombre:\nCliente: <nombre del cliente>\n\nOpcional:\nTipo de inmueble: <casa / departamento / local / bodega / nave industrial / oficina>\n\nEquipos\n\nPara cada producto elegido desde PGVector:\n\nNombre del equipo: incluye marca y modelo.\n\nPrecio unitario:\n\nUsa como base metadata.list_price (MXN, convertido a número).\n\nSi falta, usa special_price; si también falta, usa customer_price.\n\nFormato:\n\n1) <nombre del equipo>\n- Cantidad: <n>\n- Precio unitario: $<precio_unitario> MXN\n- Subtotal equipos: $<subtotal> MXN\n\nDonde subtotal = cantidad × precio_unitario, redondeado a 2 decimales.\n\nInstalación (concepto, sin monto)\n\nInstalación y configuración:\n- A cotizar después de visita técnica (no se incluye monto automático).\n\nTotales\n\nTotal estimado de equipos (sin instalación): $<total_equipos> MXN\n\nNotas\n\nNotas:\n- La presente es una cotización preliminar basada en la información proporcionada.\n- El costo de instalación se definirá después de una visita técnica.\n- Precios sujetos a cambios según disponibilidad y condiciones del sitio.\n\n6.2. JSON_COTIZACION (después del texto)\n\nTras la cotización en texto, añade:\n\n[[JSON_COTIZACION]]\n\nY en la siguiente línea, devuelve un JSON válido, por ejemplo:\n\n{\n  \"cita_id\": 123,\n  \"cliente\": \"nombre del cliente\",\n  \"tipo_servicio\": \"cctv\",\n  \"tipo_inmueble\": \"casa\",\n  \"equipos\": [\n    {\n      \"nombre\": \"Cámara IP HIKVISION DS-2CD2T47G2P-LSU/SL(C) ColorVu 4MP\",\n      \"cantidad\": 1,\n      \"precio_unitario\": 4500,\n      \"subtotal\": 4500\n    }\n  ],\n  \"total_equipos\": 4500,\n  \"incluye_instalacion\": false,\n  \"texto_instalacion\": \"Instalación y configuración: A cotizar después de visita técnica.\",\n  \"notas\": [\n    \"La presente es una cotización preliminar basada en la información proporcionada.\",\n    \"El costo de instalación se definirá después de una visita técnica.\",\n    \"Precios sujetos a cambios según disponibilidad y condiciones del sitio.\"\n  ]\n}\n\n\nReglas:\n\ncita_id: número. Si hay cita creada, usa su id; si no, null.\n\nNo incluyas símbolos de moneda ni comas en los números (4500.5, no \"4,500.50\").\n\nprecio_unitario, subtotal y total_equipos deben ser numéricos, no cadenas.\n\nLos datos deben corresponder exactamente a lo mostrado en el texto de la cotización.\n\nNo muestres este JSON en respuestas donde solo haces preguntas u ofreces opciones; solo cuando realmente generes la cotización.\n\n7. Cómo responder al cliente\n\nAl responder:\n\nResume brevemente que entendiste su caso (1–2 frases).\n\nMenciona que las recomendaciones se basan en soluciones reales de catálogo.\n\nPropón la solución estructurada:\n\nCCTV: nº de cámaras, interior/exterior, grabador/NVR, almacenamiento estimado, ventajas clave.\n\nControl de accesos: tipo de lector, nº de puertas, software de gestión, registro de eventos.\n\nDetección de incendios: tipo de panel, tipos de detectores, sirenas, avisadores manuales, etc.\n\nSi piden cotización, aplica el apartado de Formato de cotización + JSON_COTIZACION.\n\nCuando tenga sentido, ofrece agendar una visita y sigue la sección de Gestión de citas.\n\nCierra con el siguiente paso lógico:\n\n“¿Quieres que ajustemos la cotización al número exacto de cámaras/puertas?”\n\no “¿Te ayudo a agendar una visita técnica para definir la instalación?”.\n\nNunca reveles detalles internos (nombres de nodos de n8n, SQL, credenciales, URLs internas).\nPara el cliente, solo eres un asesor experto en seguridad electrónica que recomienda la mejor solución posible con la información disponible."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "a1612d02-d43c-4ce8-94f3-75dd8a38eec4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        224
      ],
      "id": "379900f9-d8e3-454d-9fea-8cc159741291",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yIiE8kRCksuehfs8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ],
      "id": "e3d6d037-2f88-4afd-bc16-2f3a9e539242",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        432
      ],
      "id": "8e9852d7-aaf6-49b7-8a2e-96643704fa23",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yIiE8kRCksuehfs8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        976
      ],
      "id": "38e1e735-d619-4419-b47c-13a69f54738a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "yIiE8kRCksuehfs8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -224,
        976
      ],
      "id": "b1841557-8b00-4952-9b92-c8d25f1ecadd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "toolDescription": "RESPUESTA DEL TOOL:\n\nLa respuesta será un JSON con la información de la cita creada, con la siguiente estructura:\n\n{\n  \"status\": \"confirmed\" | \"pendiente\",\n  \"cita_id\": 123,\n  \"event_id\": \"<id_interno_del_evento_en_calendar>\",\n  \"fecha_inicio\": \"YYYY-MM-DDTHH:MM:SS±HH:MM\",\n  \"fecha_fin\": \"YYYY-MM-DDTHH:MM:SS±HH:MM\",\n  \"link_calendario\": \"<url_para_abrir_el_evento_en_google_calendar>\"\n}\n\n- `cita_id` es el identificador numérico de la cita en el sistema interno (la fila creada en la tabla `citas` en la base de datos).\n- `event_id` es el identificador del evento en Google Calendar.\n\nUsa esta información para:\n- Confirmar al cliente que la cita fue registrada.\n- Repetirle fecha y hora de la visita.\n- Mencionar que se envió confirmación al email proporcionado.\n- Cuando prepares la cotización formal, si `cita_id` está presente, úsalo en el campo `\"cita_id\"` del JSON de cotización (no inventes un valor distinto).\n\nSi por alguna razón la respuesta del tool no incluye `cita_id`, en el JSON de cotización usa `\"cita_id\": null`.\n\nNo ignores campos adicionales: si la respuesta trae `cita_id` u otros campos útiles, puedes utilizarlos para enriquecer la respuesta y la estructura interna de la cotización.",
        "method": "POST",
        "url": "http://localhost:5678/webhook/crear-cita",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nombre",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "email",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "tipo_servicio",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "direccion",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "fecha_preferida",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            },
            {
              "name": "hora_preferida",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', ``, 'string') }}"
            },
            {
              "name": "notas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        128,
        224
      ],
      "id": "260fc8f2-8b3d-4b9c-bdda-94657d6e4812",
      "name": "Crear cita"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utiliza esta herramienta para buscar información relevante sobre soluciones de seguridad (Videovigilancia, Control  de Acceso  y detección de incendios) en la base de conocimiento.\n\nCuando el usuario pida un kit, sistema, propuesta o detalles técnicos/comerciales:\n\nResume su necesidad en una consulta corta, por ejemplo:\n\n“cctv comercial exterior estacionamiento alto riesgo”\n\n“control de accesos biométrico oficina 4 puertas”\n\n“detección de incendios nave industrial almacén alto riesgo”\n\nLlama a esta herramienta con esa consulta para recuperar hasta 8 documentos relacionados.\n\nUsa la información devuelta para:\n\nExplicar características, alcances y beneficios de las soluciones.\n\nComparar opciones cuando sea posible.\n\nAdaptar la recomendación al tipo de inmueble, nivel de riesgo y presupuesto del cliente.\n\nSi la herramienta no devuelve nada útil, pídele más contexto al usuario en lugar de inventar detalles. Tu objetivo es ayudarle a elegir la mejor solución de seguridad con la precisión que su seguridad necesita.",
        "tableName": "documents",
        "topK": 8,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "55dea4df-5bc8-4674-b9d7-a259fb2cc7c2",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_test",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -352,
        752
      ],
      "id": "42836898-1a6f-4285-bdfc-78bd9c1a691d",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Leer texto bruto desde el campo `output` (ajusta si usas otra clave)\nconst raw = $input.first().json.output ?? '';\n\n// 2. Intentar primero con bloque ```json ... ```\nlet jsonText;\nlet match = raw.match(/```json([\\s\\S]*?)```/);\n\nif (match) {\n  jsonText = match[1].trim();\n} else {\n  // 3. Fallback: buscar después de [[JSON_COTIZACION]]\n  const marker = '[[JSON_COTIZACION]]';\n  const markerIndex = raw.indexOf(marker);\n\n  if (markerIndex === -1) {\n    // Ni bloque ```json``` ni marcador\n    return [\n      {\n        json: {\n          parseStatus: 'no_json_block_or_marker',\n          rawText: raw,\n        },\n      },\n    ];\n  }\n\n  // Tomamos el texto después del marcador\n  const afterMarker = raw.slice(markerIndex + marker.length);\n\n  // Buscar la primera llave '{'\n  const firstBrace = afterMarker.indexOf('{');\n  if (firstBrace === -1) {\n    return [\n      {\n        json: {\n          parseStatus: 'no_brace_after_marker',\n          rawText: afterMarker,\n        },\n      },\n    ];\n  }\n\n  // 4. Recorrer para encontrar la llave de cierre que cierra el objeto JSON\n  let depth = 0;\n  let endIndex = -1;\n\n  for (let i = firstBrace; i < afterMarker.length; i++) {\n    const ch = afterMarker[i];\n    if (ch === '{') {\n      depth++;\n    } else if (ch === '}') {\n      depth--;\n      if (depth === 0) {\n        endIndex = i + 1; // incluir la '}'\n        break;\n      }\n    }\n  }\n\n  if (endIndex === -1) {\n    // Nunca cerró todas las llaves\n    return [\n      {\n        json: {\n          parseStatus: 'unterminated_json',\n          rawText: afterMarker.slice(firstBrace),\n        },\n      },\n    ];\n  }\n\n  jsonText = afterMarker.slice(firstBrace, endIndex).trim();\n}\n\n// 5. Parsear JSON\nlet cotizacion;\ntry {\n  cotizacion = JSON.parse(jsonText);\n} catch (e) {\n  return [\n    {\n      json: {\n        parseStatus: 'error_parseo',\n        errorMessage: e.message,\n        rawJson: jsonText,\n      },\n    },\n  ];\n}\n\n// 6. OK: cotización parseada correctamente\nreturn [\n  {\n    json: {\n      parseStatus: 'ok',\n      cotizacion,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        208
      ],
      "id": "6b0c7208-3e1f-4006-bc3b-b912b48aa95c",
      "name": "Extraer JSON de cotización"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba85f86b-5a60-4b70-bfe2-c49c69a790c2",
              "leftValue": "=={{ $json.output }}",
              "rightValue": "[[JSON_COTIZACION]]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        208
      ],
      "id": "14bc130e-a3dd-4b5d-85a8-3c7c564b3128",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e8a0694-df9e-41e6-b86d-db38e5e97992",
              "leftValue": "={{ $json.parseStatus }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        208
      ],
      "id": "1b785e25-9494-4c92-a012-e3b52451192b",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/procesar-cotizacion",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cotizacion }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        208
      ],
      "id": "819ce094-f2c8-4eea-9f3a-e188824d6cb4",
      "name": "Procesa cotizacion"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fbd8edc-6b4a-467b-9188-3c2341999eee",
              "name": "output",
              "value": "={{ $('AI Agent').item.json.output.split('[[JSON_COTIZACION]]')[0].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        208
      ],
      "id": "c46de620-da9f-4ac7-aaec-246e96e817b8",
      "name": "Respuesta Chat"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Crear cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extraer JSON de cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer JSON de cotización": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Procesa cotizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesa cotizacion": {
      "main": [
        [
          {
            "node": "Respuesta Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "73fd6b23-fd11-4a96-a48e-b201fc89aca0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-27T16:44:36.929Z",
      "createdAt": "2025-11-27T16:44:36.929Z",
      "role": "workflow:owner",
      "workflowId": "Fqbtua9k00a2IN1u",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "tags": []
}