workflows/ce02-Fqbtua9k00a2IN1u.json
{
  "updatedAt": "2025-12-08T00:08:41.709Z",
  "createdAt": "2025-11-27T16:44:36.929Z",
  "id": "Fqbtua9k00a2IN1u",
  "name": "CE02",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -384,
        0
      ],
      "id": "6e93b1fd-1f9e-461e-9e58-098b521a95b4",
      "name": "When chat message received",
      "webhookId": "6a8e461b-885a-484f-bf98-5516d6501e30"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# ROLE & GOAL\nEres un Asesor Comercial Experto en Seguridad Electrónica (CCTV, Control de Accesos, Incendios). Tu lema es: \"La precisión que tu seguridad necesita\".\nTu objetivo es asesorar, recomendar soluciones basadas en el catálogo disponible y agendar visitas técnicas para cotizaciones formales.\n\n# TONE & STYLE\n- Profesional, cercano y consultivo.\n- Enfocado en seguridad, reducción de riesgos y continuidad operativa.\n- Evita tecnicismos excesivos a menos que el cliente sea experto.\n\n# TOOLS AVAILABLE\n1. `Postgres PGVector Store`: Búsqueda semántica de productos.\n2. `Crear cita`: Agenda eventos en Google Calendar.\n\n# DATA & PRICING RULES\n- **Precios:** Usa `customer_price` como base. Si es null, usa `special_price`. Convierte strings a números (ej: \"198.43\" -> 198.43).\n- **Stock:** Prioriza productos con `stock_cedis_mn > 0`.\n- **Instalación:** NUNCA des precios de instalación numéricos. Siempre usa el texto: \"A cotizar después de visita técnica\".\n- **Privacidad:** NUNCA reveles `source`, `kind`, `external_id` ni nombres de tablas SQL.\n\n# WORKFLOWS\n\n## 1. CONSULTA Y RECOMENDACIÓN (PGVector)\n- **Trigger:** El usuario pregunta por productos, kits, comparativas o soluciones.\n- **Acción:**\n  1. Identifica: Tipo de sistema, Inmueble, Zonas, Nivel de Riesgo.\n  2. Genera una query semántica corta (ej: \"cctv exterior oficina 4mp\").\n  3. Busca en `documents`.\n  4. Selecciona 2-5 productos relevantes (Marca + Modelo + Título).\n- **Salida:** Explica por qué recomiendas cada equipo basándote en la seguridad del cliente.\n\n## 2. GESTIÓN DE CITAS (Crear cita)\n- **Requisito:** Visitas técnicas de 1 HORA exacta (HH:MM-HH:MM).\n- **Datos OBLIGATORIOS antes de llamar a la tool:**\n  - Nombre, Teléfono, Email (Crítico), Tipo de Servicio.\n  - Dirección (al menos colonia/municipio).\n  - Fecha (YYYY-MM-DD).\n  - Hora preferida (Rango de 1 hora).\n- **Lógica de No-Duplicidad:**\n  - Revisa el historial de conversación. Si ya existe una confirmación de cita (status: success/confirmed) o un `cita_id`, **NO** llames a la herramienta de nuevo, a menos que el usuario pida explícitamente \"cambiar\" o \"reagendar\".\n  - Si faltan datos, pídelos amablemente. Explica que el email es necesario para la confirmación y cotización formal.\n\n## 3. GENERACIÓN DE COTIZACIÓN (Quote Mode)\n- **Trigger:** El usuario pide \"precio\", \"cotización\", \"presupuesto\" o \"formalizar\".\n- **Formato:** Debes generar la respuesta en dos partes: TEXTO LEGIBLE y BLOQUE JSON OCULTO.\n\n### PARTE A: TEXTO LEGIBLE\nEncabezado: `COTIZACIÓN PRELIMINAR – <TIPO_SERVICIO>`\nItems:\n`1) <MARCA> <MODELO> - <TITULO BREVE>`\n   `- Cantidad: <N>`\n   `- Precio unitario: $<MONTO> MXN`\n   `- Subtotal: $<MONTO> MXN`\n\nTotal: `Total estimado de equipos (sin instalación): $<SUMA_TOTAL> MXN`\nNota Instalación: `Instalación y configuración: A cotizar después de visita técnica.`\nNotas Legales: \"Precios sujetos a cambios y disponibilidad. Cotización preliminar.\"\n\n### PARTE B: BLOQUE JSON (Obligatorio al cotizar)\nJusto después del texto, añade el marcador `[[JSON_COTIZACION]]` y luego un bloque de código JSON con los mismos datos:\n```json\n{\n  \"cita_id\": 123, // o null si no hay cita\n  \"cliente\": \"Nombre\",\n  \"equipos\": [\n    { \"nombre\": \"Marca Modelo Titulo\", \"cantidad\": 1, \"precio_unitario\": 100.00, \"subtotal\": 100.00 }\n  ],\n  \"total_equipos\": 100.00,\n  \"texto_instalacion\": \"A cotizar después de visita técnica\"\n}\n\nCHAIN OF THOUGHT (Proceso de pensamiento)\nAntes de responder, analiza internamente:\n\n¿Tengo suficiente contexto? (Si no, haz preguntas clave).\n\n¿El usuario quiere una cita? -> ¿Tengo TODOS los datos obligatorios (incluyendo email)? -> ¿Ya existe una cita en el historial?\n\n¿El usuario quiere precio? -> ¿Tengo los precios de la base de vector? -> ¿Debo generar el bloque JSON?\n\nResponde siempre en español, siguiendo el tono definido."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "a1612d02-d43c-4ce8-94f3-75dd8a38eec4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        224
      ],
      "id": "379900f9-d8e3-454d-9fea-8cc159741291",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yIiE8kRCksuehfs8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ],
      "id": "e3d6d037-2f88-4afd-bc16-2f3a9e539242",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        432
      ],
      "id": "8e9852d7-aaf6-49b7-8a2e-96643704fa23",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yIiE8kRCksuehfs8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        976
      ],
      "id": "38e1e735-d619-4419-b47c-13a69f54738a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "yIiE8kRCksuehfs8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -224,
        976
      ],
      "id": "b1841557-8b00-4952-9b92-c8d25f1ecadd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "toolDescription": "RESPUESTA DEL TOOL:\n\nLa respuesta será un JSON con la información de la cita creada, con la siguiente estructura:\n\n{\n  \"status\": \"confirmed\" | \"pendiente\",\n  \"cita_id\": 123,\n  \"event_id\": \"<id_interno_del_evento_en_calendar>\",\n  \"fecha_inicio\": \"YYYY-MM-DDTHH:MM:SS±HH:MM\",\n  \"fecha_fin\": \"YYYY-MM-DDTHH:MM:SS±HH:MM\",\n  \"link_calendario\": \"<url_para_abrir_el_evento_en_google_calendar>\"\n}\n\n- `cita_id` es el identificador numérico de la cita en el sistema interno (la fila creada en la tabla `citas` en la base de datos).\n- `event_id` es el identificador del evento en Google Calendar.\n\nUsa esta información para:\n- Confirmar al cliente que la cita fue registrada.\n- Repetirle fecha y hora de la visita.\n- Mencionar que se envió confirmación al email proporcionado.\n- Cuando prepares la cotización formal, si `cita_id` está presente, úsalo en el campo `\"cita_id\"` del JSON de cotización (no inventes un valor distinto).\n\nSi por alguna razón la respuesta del tool no incluye `cita_id`, en el JSON de cotización usa `\"cita_id\": null`.\n\nNo ignores campos adicionales: si la respuesta trae `cita_id` u otros campos útiles, puedes utilizarlos para enriquecer la respuesta y la estructura interna de la cotización.",
        "method": "POST",
        "url": "http://localhost:5678/webhook/crear-cita",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nombre",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "email",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "tipo_servicio",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "direccion",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "fecha_preferida",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            },
            {
              "name": "hora_preferida",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', ``, 'string') }}"
            },
            {
              "name": "notas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        128,
        224
      ],
      "id": "260fc8f2-8b3d-4b9c-bdda-94657d6e4812",
      "name": "Crear cita"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utiliza esta herramienta para buscar información relevante sobre soluciones de seguridad (Videovigilancia, Control  de Acceso  y detección de incendios) en la base de conocimiento.\n\nCuando el usuario pida un kit, sistema, propuesta o detalles técnicos/comerciales:\n\nResume su necesidad en una consulta corta, por ejemplo:\n\n“cctv comercial exterior estacionamiento alto riesgo”\n\n“control de accesos biométrico oficina 4 puertas”\n\n“detección de incendios nave industrial almacén alto riesgo”\n\nLlama a esta herramienta con esa consulta para recuperar hasta 8 documentos relacionados.\n\nUsa la información devuelta para:\n\nExplicar características, alcances y beneficios de las soluciones.\n\nComparar opciones cuando sea posible.\n\nAdaptar la recomendación al tipo de inmueble, nivel de riesgo y presupuesto del cliente.\n\nSi la herramienta no devuelve nada útil, pídele más contexto al usuario en lugar de inventar detalles. Tu objetivo es ayudarle a elegir la mejor solución de seguridad con la precisión que su seguridad necesita.",
        "tableName": "documents",
        "topK": 8,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "55dea4df-5bc8-4674-b9d7-a259fb2cc7c2",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_test",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -352,
        752
      ],
      "id": "42836898-1a6f-4285-bdfc-78bd9c1a691d",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Asumimos que la respuesta del agente viene en $json.text o $json.result\nconst raw = $input.first().json.output ?? '';\n\n// Buscamos el bloque ```json ... ``` después del marcador\nconst match = raw.match(/```json([\\s\\S]*?)```/);\n\nif (!match) {\n  return [\n    {\n      json: {\n        parseStatus: 'no_json_block',\n        rawText: raw,\n      },\n    },\n  ];\n}\n\nconst jsonText = match[1].trim();\n\nlet cotizacion;\ntry {\n  cotizacion = JSON.parse(jsonText);\n} catch (e) {\n  return [\n    {\n      json: {\n        parseStatus: 'error_parseo',\n        errorMessage: e.message,\n        rawJson: jsonText,\n      },\n    },\n  ];\n}\n\n// OK: cotización parseada\nreturn [\n  {\n    json: {\n      parseStatus: 'ok',\n      cotizacion,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        208
      ],
      "id": "6b0c7208-3e1f-4006-bc3b-b912b48aa95c",
      "name": "Extraer JSON de cotización"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba85f86b-5a60-4b70-bfe2-c49c69a790c2",
              "leftValue": "=={{ $json.output }}",
              "rightValue": "[[JSON_COTIZACION]]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        208
      ],
      "id": "14bc130e-a3dd-4b5d-85a8-3c7c564b3128",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e8a0694-df9e-41e6-b86d-db38e5e97992",
              "leftValue": "={{ $json.parseStatus }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        208
      ],
      "id": "1b785e25-9494-4c92-a012-e3b52451192b",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/procesar-cotizacion",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cotizacion }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        208
      ],
      "id": "819ce094-f2c8-4eea-9f3a-e188824d6cb4",
      "name": "Procesa cotizacion"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fbd8edc-6b4a-467b-9188-3c2341999eee",
              "name": "output",
              "value": "={{ $('AI Agent').item.json.output.split('[[JSON_COTIZACION]]')[0].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        208
      ],
      "id": "c46de620-da9f-4ac7-aaec-246e96e817b8",
      "name": "Respuesta Chat"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Crear cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extraer JSON de cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer JSON de cotización": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Procesa cotizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesa cotizacion": {
      "main": [
        [
          {
            "node": "Respuesta Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "494e463f-c553-4dce-abce-2da338c181c2",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-27T16:44:36.929Z",
      "createdAt": "2025-11-27T16:44:36.929Z",
      "role": "workflow:owner",
      "workflowId": "Fqbtua9k00a2IN1u",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "tags": []
}