workflows/crear-cita-8gP78fW1rv7UB5v9.json
{
  "updatedAt": "2025-12-11T23:47:13.794Z",
  "createdAt": "2025-11-28T20:55:19.764Z",
  "id": "8gP78fW1rv7UB5v9",
  "name": "Crear Cita",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/crear-cita",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        208
      ],
      "id": "6fe5efa1-e514-4346-b445-fa65e0e951fa",
      "name": "Webhook",
      "webhookId": "a01a0f86-b582-496a-a87c-7a1725f8e523"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "26511fe382958416668b7d02b1e0c4906a89ff2317546d62eec3f4e4a6a8c70a@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n test"
        },
        "start": "={{ $('Construir DateTime').item.json.startDateTime }}",
        "end": "={{ $('Construir DateTime').item.json.endDateTime }}",
        "additionalFields": {
          "description": "={{ $json.nombre_cliente }} ",
          "summary": "=Vísita técnica  {{ $json.tipo_servicio }} - {{ $json.nombre_cliente }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1792,
        208
      ],
      "id": "0665d3ca-3d36-475b-b29e-e45e50d69c03",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "oxbrcrpqzta3DGxS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06172830-8655-4741-aa76-261715a07be7",
              "name": "status",
              "value": "=confirmed",
              "type": "string"
            },
            {
              "id": "49130130-55b3-4c80-b50a-286d10b3e43d",
              "name": "event_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ad25366e-b338-443e-a05f-d71b57f77dde",
              "name": "fecha_inicio",
              "value": "={{ $json.hora_inicio }}",
              "type": "string"
            },
            {
              "id": "33afcd98-c66b-4fdc-b0e3-a7951eb511d5",
              "name": "fecha_fin",
              "value": "={{ $json.hora_fin }}",
              "type": "string"
            },
            {
              "id": "970bcdf7-3aa2-47c9-9ef6-6db31601c4da",
              "name": "cita_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "b1ba552f-b345-4601-af82-e5ec87fc79bd",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "3e91adb7-0b98-48c8-9c6a-20c4727af1f8",
              "name": "nombre_cliente",
              "value": "={{ $json.nombre_cliente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        208
      ],
      "id": "e184b33a-98dd-4e17-abb8-f4e17d13b283",
      "name": "Formatear Respuesta"
    },
    {
      "parameters": {
        "jsCode": "// Código corregido para el nodo Code\nconst fecha = $('Webhook').first().json.body.fecha_preferida;;\nconst rango = $('Webhook').first().json.body.hora_preferida;\n\n// Validar que tenemos los datos necesarios\nif (!fecha || !rango) {\n  throw new Error('Faltan datos requeridos: fecha_entrega o hora_preferida');\n}\n\nconst [horaInicio, horaFin] = rango.split('-');\nif (!horaInicio || !horaFin) {\n  throw new Error('Formato de hora_preferida inválido. Use HH:MM-HH:MM');\n}\n\n// Validar que sea exactamente 1 hora\nconst inicio = new Date(`${fecha}T${horaInicio}:00`);\nconst fin = new Date(`${fecha}T${horaFin}:00`);\nconst diffHoras = (fin - inicio) / (1000 * 60 * 60);\n\nif (diffHoras !== 1) {\n  throw new Error(`El rango debe ser exactamente 1 hora. Recibido: ${diffHoras} horas`);\n}\n\n// Helper para timezone offset\nfunction getOffsetString(date) {\n  const offsetMin = -date.getTimezoneOffset();\n  const sign = offsetMin >= 0 ? '+' : '-';\n  const abs = Math.abs(offsetMin);\n  const hh = String(Math.floor(abs / 60)).padStart(2, '0');\n  const mm = String(abs % 60).padStart(2, '0');\n  return `${sign}${hh}:${mm}`;\n}\n\nconst offset = getOffsetString(inicio);\nconst startDateTime = `${fecha}T${horaInicio}:00.000${offset}`;\nconst endDateTime = `${fecha}T${horaFin}:00.000${offset}`;\n\nreturn [{\n  ...$json,\n  // Para Postgres\n  hora_inicio: `${horaInicio}:00`,\n  hora_fin: `${horaFin}:00`,\n  estado: 'confirmado',\n  created_at: new Date().toISOString(),\n  // Para Google Calendar\n  startDateTime,\n  endDateTime,\n  // Datos originales para referencia\n  body: $('Webhook').first().json.body\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ],
      "id": "8304d800-fae9-48bb-bc87-cb41fa95abca",
      "name": "Construir DateTime"
    },
    {
      "parameters": {
        "jsCode": "// NUEVO NODO CODE - Validación robusta\nconst body = $('Webhook').first().json.body;\n\n// Función auxiliar para convertir HH:MM a minutos totales desde medianoche\nfunction timeToMinutes(timeStr) {\n    const [h, m] = timeStr.split(':').map(Number);\n    return h * 60 + m;\n}\n\n// 1. Validar campos requeridos\nconst required = ['nombre', 'telefono', 'email', 'tipo_servicio', 'fecha_preferida', 'hora_preferida', 'direccion'];\nconst missing = required.filter(field => !body[field] || body[field].toString().trim() === '');\n\nif (missing.length > 0) {\n    throw new Error(`Faltan campos obligatorios: ${missing.join(', ')}. Por favor completa todos los datos.`);\n}\n\n// 2. Validación de Formatos\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(body.email)) {\n    throw new Error('Formato de email inválido. Debe ser un email válido (ej: usuario@dominio.com)');\n}\n\n// Validar formato de fecha (YYYY-MM-DD)\nconst fechaRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!fechaRegex.test(body.fecha_preferida)) {\n    throw new Error('Formato de fecha inválido. Debe ser YYYY-MM-DD (ej: 2024-01-15)');\n}\n\n// Validar formato de hora (HH:MM-HH:MM)\nconst horaRegex = /^([0-1][0-9]|2[0-3]):[0-5][0-9]-([0-1][0-9]|2[0-3]):[0-5][0-9]$/;\nif (!horaRegex.test(body.hora_preferida)) {\n    throw new Error('Formato de hora inválido. Debe ser HH:MM-HH:MM (ej: 14:00-15:00)');\n}\n\n// 3. Validar que la duración sea exactamente 1 hora\nconst [inicio, fin] = body.hora_preferida.split('-');\nconst inicioMinutos = timeToMinutes(inicio);\nconst finMinutos = timeToMinutes(fin);\n\n// Calcula la diferencia horaria, manejando el cruce de medianoche si fuera necesario\nlet diff = finMinutos - inicioMinutos;\nif (diff < 0) {\n    // Si la hora de fin es menor que la de inicio (ej: 23:00-01:00), significa que cruzó medianoche\n    diff += 24 * 60; \n}\n             \nif (diff !== 60) {\n    throw new Error('El rango horario debe ser exactamente de 1 hora (ej: 14:00-15:00)');\n}\n\n// 4. Validar y normalizar tipo de servicio (CORRECCIÓN CRÍTICA)\n// El prompt instruye al agente a solicitar \"deteccion_incendios\", pero a veces el LLM usa lenguaje natural.\n// Usamos .toLowerCase() y .replace(/\\s/g, '') para normalizar el input a minúsculas y sin espacios.\nconst tipoServicioRaw = body.tipo_servicio.toString() ?? '';\nconst base = tipoServicioRaw\n  .toLowerCase()\n  .normalize('NFD')                 // separa acentos\n  .replace(/[\\u0300-\\u036f]/g, ''); // quita acentos\n\nconst slug = base\n  .replace(/[^a-z0-9]+/g, '_')\n  .replace(/^_+|_+$/g, '');\n\nlet tipoServicioCanonico: string | null = null;\n\n// CCTV\nif (base.includes('cctv') || base.includes('camara') || base.includes('cámara')) {\n  tipoServicioCanonico = 'cctv';\n}\n\n// Control de accesos\nelse if (\n  base.includes('control') && base.includes('acceso') ||\n  slug.includes('control_accesos')\n) {\n  tipoServicioCanonico = 'control_accesos';\n}\n\n// Detección de incendios\nelse if (\n  base.includes('incendio') || base.includes('incendios') ||\n  slug.includes('deteccion_incendios') || slug.includes('deteccion_de_incendios')\n) {\n  tipoServicioCanonico = 'deteccion_incendios';\n}\n\n\nconst serviciosValidos = ['cctv', 'control_accesos', 'deteccion_incendios'];\n\nif (!tipoServicioCanonico || !serviciosValidos.includes(tipoServicioCanonico)) {\n  throw new Error(\n    `Tipo de servicio inválido: \"${tipoServicioRaw}\". Debe ser uno de: ${serviciosValidos.join(', ')}`\n  );\n}\n\n// 5. Validar y limpiar teléfono (mínimo 10 dígitos)\nconst telefonoLimpio = body.telefono.toString().replace(/\\D/g, '');\nif (telefonoLimpio.length < 10) {\n    throw new Error('El teléfono debe tener al menos 10 dígitos');\n}\n\n// Si pasa todas las validaciones\nreturn [{ \n    body: {\n        ...body,\n        // Enviar el tipo de servicio normalizado y el teléfono limpio al siguiente nodo\n        tipo_servicio: tipoServicioNormalizado, \n        telefono: telefonoLimpio\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        208
      ],
      "id": "6ea6b5a0-03e7-4e54-8f6f-b7976d35926a",
      "name": "Validar Cita"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formatear Respuesta').item.json.email }}",
        "subject": "=Confirmación de Cita Técnica - {{ $('Formatear Respuesta').item.json.nombre_cliente }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #667eea, #764ba2); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #f9f9f9; padding: 30px; }\n        .details { background: white; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #667eea; }\n        .detail-row { display: flex; margin-bottom: 10px; }\n        .detail-icon { width: 30px; font-weight: bold; }\n        .footer { background: #2d3748; color: white; padding: 20px; text-align: center; border-radius: 0 0 10px 10px; font-size: 12px; }\n        .button { background: #667eea; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 10px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>CEO2</h1>\n        <p>La precisión que tu seguridad necesita</p>\n    </div>\n    \n    <div class=\"content\">\n        <h2>Hola, {{ $('Merge').item.json.nombre_cliente }}</h2>\n        <p style=\"background: #48bb78; color: white; padding: 10px; border-radius: 5px; display: inline-block;\">✅ CITA CONFIRMADA</p>\n        \n        <p>Tu cita técnica ha sido agendada exitosamente:</p>\n        \n        <div class=\"details\">\n            <div class=\"detail-row\"><div class=\"detail-icon\">📅</div><div><strong>Fecha:</strong> {{ $('Construir DateTime').item.json.body.fecha_preferida }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">⏰</div><div><strong>Hora:</strong> {{ $('Construir DateTime').item.json.hora_inicio }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">📍</div><div><strong>Dirección:</strong> {{ $('Merge').item.json.direccion }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">🔧</div><div><strong>Servicio:</strong> {{ $('Merge').item.json.tipo_servicio }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">📞</div><div><strong>Teléfono:</strong> {{ $('Merge').item.json.telefono }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">📧</div><div><strong>Email:</strong> {{ $('Merge').item.json.email }}</div></div>\n            <div class=\"detail-row\"><div class=\"detail-icon\">📝</div><div><strong>Notas:</strong> {{ $('Merge').item.json.notas || '' }}</div></div>\n            \n        </div>\n        \n        <p><strong>Recordatorio:</strong> Te enviaremos un recordatorio 24 horas antes.</p>\n    </div>\n    \n    <div class=\"footer\">\n        <p>Lucam Service • soporte@lucamservice.com • +52 55 1234 5678</p>\n        <p>Este es un correo automático. Por favor no responder.</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        208
      ],
      "id": "f1a00e61-3204-4529-b965-6d8ddfc19830",
      "name": "Send a message",
      "webhookId": "079a17ca-4cde-44a7-a817-03dec143698b",
      "credentials": {
        "gmailOAuth2": {
          "id": "cDsRAWI7wL2LMm0z",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_cliente": "={{ $('Construir DateTime').item.json.body.nombre }}",
            "telefono": "={{ $('Construir DateTime').item.json.body.telefono }}",
            "email": "={{ $('Construir DateTime').item.json.body.email }}",
            "tipo_servicio": "={{ $('Construir DateTime').item.json.body.tipo_servicio }}",
            "direccion": "={{ $('Construir DateTime').item.json.body.direccion }}",
            "fecha_entrega": "={{ $('Construir DateTime').item.json.body.fecha_preferida }}",
            "hora_inicio": "={{ $('Construir DateTime').item.json.hora_inicio }}",
            "hora_fin": "={{ $('Construir DateTime').item.json.hora_fin }}",
            "estado": "={{ $('Construir DateTime').item.json.estado }}",
            "created_at": "={{ $now }}",
            "notas": "={{ $('Construir DateTime').item.json.notas }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_servicio",
              "displayName": "tipo_servicio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_entrega",
              "displayName": "fecha_entrega",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        304
      ],
      "id": "b846b41a-1e00-464d-95c9-49c946bc3893",
      "name": "Insertar Cita",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/procesar-cotizacion",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cita_id",
              "value": "=={{ $('Insertar Cita').first().json.id }}"
            },
            {
              "name": "cotizacion_data",
              "value": "=={{ $json.cotizacion_data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -112
      ],
      "id": "937cd427-9c4b-4be0-9bfa-d06400d201a2",
      "name": "Llamar Flujo Cotizacion",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"cita_id\": {{ $('Formatear Respuesta').item.json.cita_id }},\n\"event_id\": \"{{ $json.id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2240,
        208
      ],
      "id": "2bd0ddb9-21b4-47d4-b946-a7f8b44f6e4c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) record_count\nFROM citas\nWHERE email = $1\n  AND tipo_servicio = $2\n  AND telefono = $3\n  AND hora_inicio = $4\n  AND fecha_entrega::date = $5\n",
        "options": {
          "queryReplacement": "={{ $json.body.email }},{{ $json.body.tipo_servicio }},{{ $json.body.telefono }},{{ $json.hora_inicio }},{{ $json.body.fecha_preferida }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        208
      ],
      "id": "9c463881-21df-4220-b94f-000df1ee39fd",
      "name": "Buscar cita existente",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2bce8ae8-f23e-4c8b-97f8-09959d6c0625",
              "leftValue": "={{ $json.record_count.toNumber() }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        208
      ],
      "id": "ec288d69-6bfd-4d91-ad16-3bf6df856850",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM citas\nWHERE email = $1\n  AND tipo_servicio = $2\n  AND telefono = $3\n  AND hora_inicio = $4\n  AND fecha_entrega::date = $5",
        "options": {
          "queryReplacement": "={{ $('Construir DateTime').item.json.body.email }},{{ $('Construir DateTime').item.json.body.tipo_servicio }},{{ $('Construir DateTime').item.json.body.telefono }},{{ $('Construir DateTime').item.json.hora_inicio }},{{ $('Construir DateTime').item.json.body.fecha_preferida }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        112
      ],
      "id": "9e4b81b6-32a9-4224-a9e8-48e494c357c8",
      "name": "Postgres - Obtiene información",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        208
      ],
      "id": "4063339a-7bb1-4477-a302-1c18d72f3efd",
      "name": "Merge"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir DateTime": {
      "main": [
        [
          {
            "node": "Buscar cita existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Cita": {
      "main": [
        [
          {
            "node": "Construir DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Cita": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Buscar cita existente": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres - Obtiene información",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insertar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Obtiene información": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e43c265f-8ed2-4135-8dcc-c43731d6b04d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-28T20:55:19.764Z",
      "createdAt": "2025-11-28T20:55:19.764Z",
      "role": "workflow:owner",
      "workflowId": "8gP78fW1rv7UB5v9",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "tags": []
}