workflows/indexar-productos-en-rag-Mh4UqsjlL8q3AFpu.json
{
  "updatedAt": "2025-12-04T22:10:10.551Z",
  "createdAt": "2025-12-04T15:20:17.118Z",
  "id": "Mh4UqsjlL8q3AFpu",
  "name": "Indexar productos en RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        64
      ],
      "id": "a594199c-8314-43b8-bd95-20579950ecb9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  external_id,\n  model,\n  brand,\n  title,\n  list_price,\n  special_price,\n  customer_price,\n  stock_cedis_mn,\n  menu_lvl_1,\n  menu_lvl_2,\n  menu_lvl_3\nFROM products\nWHERE is_active = true\n  AND updated_at > (NOW() - interval '1 day');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        64
      ],
      "id": "c53c6476-2a27-4b42-b071-5cab88e3d611",
      "name": "Select productos",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 200,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        64
      ],
      "id": "3a41eaca-a60d-46d5-89b2-e54b20ac98f4",
      "name": "SplitBatches - docs"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  const categorias = [\n    p.menu_lvl_1,\n    p.menu_lvl_2,\n    p.menu_lvl_3,\n  ].filter(Boolean).join(' > ');\n\n  const content = [\n    `${p.brand || ''} ${p.model || ''}`.trim(),\n    p.title || '',\n    categorias ? `Categoría: ${categorias}.` : '',\n    p.list_price ? `Precio lista aproximado: ${p.list_price} MXN.` : '',\n    p.special_price ? `Precio especial aproximado: ${p.special_price} MXN.` : '',\n    typeof p.stock_cedis_mn === 'number'\n      ? `Stock en CEDIS México Norte: ${p.stock_cedis_mn} piezas (sujeto a cambios).`\n      : ''\n  ].filter(Boolean).join(' ');\n\n  output.push({\n    json: {\n      external_id: p.external_id,\n      source: 'syscom',\n      kind: 'product',\n      title: `${p.brand || ''} ${p.model || ''} - ${p.title}`.trim(),\n      content,\n      metadata: {\n        external_id: p.external_id,\n        title: p.title,\n        source: 'syscom',\n        kind: 'product',\n        model: p.model,\n        brand: p.brand,\n        menu_lvl_1: p.menu_lvl_1,\n        menu_lvl_2: p.menu_lvl_2,\n        menu_lvl_3: p.menu_lvl_3,\n        list_price: p.list_price,\n        special_price: p.special_price,\n        customer_price: p.customer_price,\n        stock_cedis_mn: p.stock_cedis_mn,\n      },\n    },\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        64
      ],
      "id": "24427842-f39c-4633-a549-91a1126392db",
      "name": "Fn - Mapear a documento"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1120,
        144
      ],
      "id": "d096a1e2-44b2-4cda-a64a-7b1aafd34d17",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documents\nWHERE metadata ->> 'source' = 'syscom'\n  AND metadata ->> 'kind'   = 'product';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        64
      ],
      "id": "b416ef04-8b6c-4a0e-a9e8-d439951a0658",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        368
      ],
      "id": "d8de7718-9bd4-4c85-bb6e-280afc7f1f4a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yIiE8kRCksuehfs8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "pointers": "/content, /title",
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $('Fn - Mapear a documento').item.json.metadata }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1264,
        368
      ],
      "id": "7ecc4d74-e2b2-4d4b-9c4c-27ad8a22af85",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "id": "b356523f-651a-42cc-8fdc-5d302ebc9fc7",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select productos": {
      "main": [
        [
          {
            "node": "SplitBatches - docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitBatches - docs": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fn - Mapear a documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fn - Mapear a documento": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Select productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "SplitBatches - docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bac35286-7341-4e60-b1ba-2d4f2f3ed3cf",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-04T15:20:17.118Z",
      "createdAt": "2025-12-04T15:20:17.118Z",
      "role": "workflow:owner",
      "workflowId": "Mh4UqsjlL8q3AFpu",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "tags": []
}