workflows/procesar-cotización-MZAL3sZpPmF50KLN.json
{
  "updatedAt": "2025-12-05T20:03:17.041Z",
  "createdAt": "2025-11-27T16:44:00.314Z",
  "id": "MZAL3sZpPmF50KLN",
  "name": "Procesar Cotización",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/procesar-cotizacion",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "207e0e27-e8ca-4b41-8072-9ead87907a35",
      "name": "Webhook Cotización",
      "webhookId": "procesar-cotizacion-webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cotizaciones",
          "mode": "list",
          "cachedResultName": "cotizaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cita_id": "={{ $json.body.cita_id }}",
            "texto_completo": "={{ $json.body.texto_instalacion }}",
            "total_equipos": "={{ $json.body.total_equipos }}",
            "estado": "pendiente",
            "created_at": "2025-11-23T15:10:31"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cita_id",
              "displayName": "cita_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "texto_completo",
              "displayName": "texto_completo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_equipos",
              "displayName": "total_equipos",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "07143ad3-f2cf-49f9-ab67-63e710a64753",
      "name": "Insertar Cotización Principal",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cotizacionId = $input.first().json.id;\nconst equipos = $('Webhook Cotización').first().json.body.equipos || [];\nconst notasArray = $('Webhook Cotización').first().json.body.notas || [];\nconst notasTexto = notasArray.join('|');\n\nreturn equipos.map((eq) => ({\n  json: {\n    cotizacion_id: cotizacionId,\n    nombre_producto: eq.nombre,\n    cantidad: eq.cantidad,\n    precio_unitario: eq.precio_unitario,\n    subtotal: eq.subtotal,\n    notas: notasTexto || null,\n  },\n}));\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "da2f31b5-d57b-4dcd-83b1-aeb046355c85",
      "name": "Preparar Productos"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "productos_cotizados",
          "mode": "list",
          "cachedResultName": "productos_cotizados"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cotizacion_id": "={{ $json.cotizacion_id }}",
            "nombre_producto": "={{ $json.nombre_producto }}",
            "cantidad": "={{ $json.cantidad }}",
            "precio_unitario": "={{ $json.precio_unitario }}",
            "subtotal": "={{ $json.subtotal }}",
            "notas": "={{ $json.notas }}",
            "created_at": "2025-11-25T16:40:35"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cotizacion_id",
              "displayName": "cotizacion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_producto",
              "displayName": "nombre_producto",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cantidad",
              "displayName": "cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "precio_unitario",
              "displayName": "precio_unitario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        0
      ],
      "id": "8bce474d-b033-4568-8263-fa405638d7c8",
      "name": "Insertar Productos",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "22010039-4c4d-4e7a-a5b4-7d4011628577",
      "name": "Fin Cotización"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hJHW9qfckr1UrcWB",
          "mode": "list",
          "cachedResultUrl": "/workflow/hJHW9qfckr1UrcWB",
          "cachedResultName": "Email Tecnico con Cotizacion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1088,
        0
      ],
      "id": "05999f5e-d5ec-40e6-b4f7-83b96675ce55",
      "name": "Call 'Email Tecnico con Cotizacion'"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "a3147b99-3b4f-4a61-a11d-3b580639e3a1",
      "name": "Prepara datos cotizados"
    }
  ],
  "connections": {
    "Webhook Cotización": {
      "main": [
        [
          {
            "node": "Insertar Cotización Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Cotización Principal": {
      "main": [
        [
          {
            "node": "Preparar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Productos": {
      "main": [
        [
          {
            "node": "Insertar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Productos": {
      "main": [
        [
          {
            "node": "Prepara datos cotizados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Email Tecnico con Cotizacion'": {
      "main": [
        [
          {
            "node": "Fin Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara datos cotizados": {
      "main": [
        [
          {
            "node": "Call 'Email Tecnico con Cotizacion'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook Cotización": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.49.1",
            "accept": "*/*",
            "postman-token": "06dc7f1f-b831-4093-8573-93d188e79d10",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "738"
          },
          "params": {},
          "query": {},
          "body": {
            "cita_id": 1,
            "cliente": "Tenoch Emiliano",
            "tipo_servicio": "cctv",
            "tipo_inmueble": "casa",
            "equipos": [
              {
                "nombre": "Cámara Domo 2MP IR 30m",
                "cantidad": 1,
                "precio_unitario": 4500,
                "subtotal": 4500
              }
            ],
            "total_equipos": 4500,
            "incluye_instalacion": false,
            "texto_instalacion": "Instalación y configuración: A cotizar después de visita técnica.",
            "notas": [
              "La presente es una cotización preliminar basada en la información proporcionada.",
              "El costo de instalación se definirá después de una visita técnica.",
              "Precios sujetos a cambios según disponibilidad y condiciones del sitio."
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/procesar-cotizacion",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "09ab2a65-ede2-4d3a-b1bd-9912f3b8759c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-27T16:44:00.314Z",
      "createdAt": "2025-11-27T16:44:00.314Z",
      "role": "workflow:owner",
      "workflowId": "MZAL3sZpPmF50KLN",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "tags": []
}