workflows/sincroniza-productos-syscom-xSiEu3Oaog5E0raR.json
{
  "updatedAt": "2025-12-03T00:54:53.817Z",
  "createdAt": "2025-12-02T18:06:01.814Z",
  "id": "xSiEu3Oaog5E0raR",
  "name": "Sincroniza productos SYSCOM",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        544
      ],
      "id": "ff53e006-da12-4032-90fc-470aaa2b6ef7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $env.SYSCOM_BASE_URL }}/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "categoria",
              "value": "={{ $env.SYSCOM_CATEGORIAS }}"
            },
            {
              "name": "marca",
              "value": "syscom"
            },
            {
              "name": "busqueda",
              "value": "camaras"
            },
            {
              "name": "sucursal",
              "value": "={{ $env.SYSCOM_SUCURSAL_MN }}"
            },
            {
              "name": "pagina",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SYSCOM_TOKEN }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        544
      ],
      "id": "727feaae-d942-4f3b-a460-cac9ec734ec9",
      "name": "HTTP - Productos página 1"
    },
    {
      "parameters": {
        "jsCode": "const totalPages =  $input.first().json.body.paginas || 1;\nconst items = [];\n\nfor (let p = 1; p <= totalPages; p++) {\n  items.push({\n    json: {\n      pagina: p\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        544
      ],
      "id": "4e9e5e8c-3a4f-46d5-a3b9-3e636e1b5405",
      "name": "Fn -Generar páginas"
    },
    {
      "parameters": {
        "url": "https://developers.syscom.mx/api/v1/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "categoria",
              "value": "={{ $env.SYSCOM_CATEGORIAS }}"
            },
            {
              "name": "marca",
              "value": "syscom"
            },
            {
              "name": "busqueda",
              "value": "camaras"
            },
            {
              "name": "sucursal",
              "value": "={{ $env.SYSCOM_SUCURSAL_MN }}"
            },
            {
              "name": "stock",
              "value": "1"
            },
            {
              "name": "pagina",
              "value": "={{ $json.pagina }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjcyOTgyY2NhZWExMmIyYmQ1NDc4OGZiN2U2Mjg4NjdjZjRiNjRmNjVhZDYwNTA2NzBmZDQ1N2FhMjA3ZjdkNzE4YWE3MjllZWNkYjdiOWJjIn0.eyJhdWQiOiJsNTJCT0dOMzg3UTcxTEFET0o4RmxOa0VoY1dNYmY1WSIsImp0aSI6IjcyOTgyY2NhZWExMmIyYmQ1NDc4OGZiN2U2Mjg4NjdjZjRiNjRmNjVhZDYwNTA2NzBmZDQ1N2FhMjA3ZjdkNzE4YWE3MjllZWNkYjdiOWJjIiwiaWF0IjoxNzY0NzE4NTI2LCJuYmYiOjE3NjQ3MTg1MjYsImV4cCI6MTc5NjI1NDUyNiwic3ViIjoiIiwic2NvcGVzIjpbXX0.o-BTv11_vj3pzDG8zxoOpGPQo3-Ce-hr8CjwntpxlvztQbhhgwkvjsUHsuEQ43OHpkn1jNbZ5_R6V3rzf0fj1yjZ5jP9LO2S0nemF-h2753vESpmKNfs3GTTzVKzJy4uyMrAcBa7k2Yn_Y6RiBZI61p4e2kDbxQn6ppqoqy7z7ZrcIwkBz9eMs8Nvn56XU9beIlTPDjd-Ztrqu15CoUje0un9-4utpswy0R2933c2fJyuU_HvMghqqv6Kn-gbq-vv5b0yDNr7Dk8xwTPUf4zXzuAzWNO7gEp67QJLlUVYaJIvulcJ7gX3WFNKQr4AZrIXvyh8nc8pSDgTaDsnOPBux_Tk1cL2-8uyYVItz9R913rettE380yuQPZToeB5t-0Dcyz-JgRhL0swjmIdGIvGpBF6F2GE9mqugLwknpkCElpQKjO2Ew7kSbSkeQbgJ5WNGruVfODqUQDU1E0C-hmdRwI8ruMaleKQKZM4_rtztIo9FFOqpzN0a5joDODxpY8-tGY51QVh6ujnSkErZ6tnz5cuic0ok7QbtYYhiyBs-Apttpl2k-XL9sra3eEUIccbuRfyS-xZUbR-A3CqoD4bOSbiaeLzxeTCi1JpPIY1TzzOXqttIk2uA8cGYk2SSJnxB-oOvBP-KISyz2_EVvuQpvViHQoNLl_NisFIOZpKgU"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        544
      ],
      "id": "b957e19e-e80a-4200-87bf-7126a9265897",
      "name": "HTTP - Productos por pagina"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const page of items) {\n  const productos = page.json.productos || [];\n  for (const p of productos) {\n    const cats = p.categorias || [];\n    const lvl1 = cats.find(c => c.nivel === 1) || {};\n    const lvl2 = cats.find(c => c.nivel === 2) || {};\n    const lvl3 = cats.find(c => c.nivel === 3) || {};\n\n    const stock =\n      (p.existencia && typeof p.existencia.nuevo !== 'undefined')\n        ? p.existencia.nuevo\n        : (p.total_existencia || 0);\n\n    output.push({\n      json: {\n        external_id: parseInt(p.producto_id, 10),\n        model: p.modelo,\n        brand: p.marca || null,\n        title: p.titulo,\n\n        list_price: p.precios?.precio_lista || 0,\n        special_price: p.precios?.precio_especial || 0,\n        customer_price: p.precios?.precio_descuento || 0,\n        exchange_rate: 0,\n        currency: 'MXN',\n\n        stock_cedis_mn: stock,\n        tax_code: p.sat_key || null,\n        weight_kg: p.peso || 0,\n\n        image_url: p.img_portada || null,\n        link_public: p.link ? `https://www.syscom.mx${p.link}` : null,\n        link_private: p.link_privado || null,\n\n        menu_lvl_1: lvl1.nombre || null,\n        menu_lvl_2: lvl2.nombre || null,\n        menu_lvl_3: lvl3.nombre || null,\n        menu_id_1: lvl1.id ? parseInt(lvl1.id, 10) : null,\n        menu_id_2: lvl2.id ? parseInt(lvl2.id, 10) : null,\n        menu_id_3: lvl3.id ? parseInt(lvl3.id, 10) : null\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        544
      ],
      "id": "d82bc5a6-bfb8-4804-a298-27ae26fb57f5",
      "name": "Fn - Mapear productos a tabla"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO products (\n  external_id,\n  model,\n  brand,\n  title,\n  list_price,\n  special_price,\n  customer_price,\n  exchange_rate,\n  stock_cedis_mn,\n  tax_code,\n  weight_kg,\n  image_url,\n  link_public,\n  link_private,\n  menu_lvl_1,\n  menu_lvl_2,\n  menu_lvl_3,\n  menu_id_1,\n  menu_id_2,\n  menu_id_3,\n  last_seen_at,\n  is_active\n) VALUES (\n  {{ $json[\"external_id\"] }},\n  '{{ $json[\"model\"].replace(/'/g, \"''\") }}',\n  {{ $json[\"brand\"] ? `'${$json[\"brand\"].replace(/'/g, \"''\")}'` : 'NULL' }},\n  '{{ $json[\"title\"].replace(/'/g, \"''\") }}',\n\n  {{ $json[\"list_price\"] || 0 }},\n  {{ $json[\"special_price\"] || 0 }},\n  {{ $json[\"customer_price\"] || 0 }},\n  {{ $json[\"exchange_rate\"] || 0 }},\n\n  {{ $json[\"stock_cedis_mn\"] || 0 }},\n  {{ $json[\"tax_code\"] ? `'${$json[\"tax_code\"].replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json[\"weight_kg\"] || 0 }},\n\n  {{ $json[\"image_url\"] ? `'${$json[\"image_url\"].replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json[\"link_public\"] ? `'${$json[\"link_public\"].replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json[\"link_private\"] ? `'${$json[\"link_private\"].replace(/'/g, \"''\")}'` : 'NULL' }},\n\n  {{ $json[\"menu_lvl_1\"] ? `'${$json[\"menu_lvl_1\"].replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json[\"menu_lvl_2\"] ? `'${$json[\"menu_lvl_2\"].replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json[\"menu_lvl_3\"] ? `'${$json[\"menu_lvl_3\"].replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json[\"menu_id_1\"] ?? 'NULL' }},\n  {{ $json[\"menu_id_2\"] ?? 'NULL' }},\n  {{ $json[\"menu_id_3\"] ?? 'NULL' }},\n\n  now(),\n  {{ $json[\"stock_cedis_mn\"] > 0 ? 'true' : 'false' }}\n)\nON CONFLICT (external_id)\nDO UPDATE SET\n  model          = EXCLUDED.model,\n  brand          = EXCLUDED.brand,\n  title          = EXCLUDED.title,\n  list_price     = EXCLUDED.list_price,\n  special_price  = EXCLUDED.special_price,\n  customer_price = EXCLUDED.customer_price,\n  exchange_rate  = EXCLUDED.exchange_rate,\n  stock_cedis_mn = EXCLUDED.stock_cedis_mn,\n  tax_code       = EXCLUDED.tax_code,\n  weight_kg      = EXCLUDED.weight_kg,\n  image_url      = EXCLUDED.image_url,\n  link_public    = EXCLUDED.link_public,\n  link_private   = EXCLUDED.link_private,\n  menu_lvl_1     = EXCLUDED.menu_lvl_1,\n  menu_lvl_2     = EXCLUDED.menu_lvl_2,\n  menu_lvl_3     = EXCLUDED.menu_lvl_3,\n  menu_id_1      = EXCLUDED.menu_id_1,\n  menu_id_2      = EXCLUDED.menu_id_2,\n  menu_id_3      = EXCLUDED.menu_id_3,\n  last_seen_at   = now(),\n  is_active      = (EXCLUDED.stock_cedis_mn > 0);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        544
      ],
      "id": "b1a0206c-9f80-496b-9934-c050d4e065b7",
      "name": "Postgres - Upsert a productos",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Productos página 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Productos página 1": {
      "main": [
        [
          {
            "node": "Fn -Generar páginas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fn -Generar páginas": {
      "main": [
        [
          {
            "node": "HTTP - Productos por pagina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Productos por pagina": {
      "main": [
        [
          {
            "node": "Fn - Mapear productos a tabla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fn - Mapear productos a tabla": {
      "main": [
        [
          {
            "node": "Postgres - Upsert a productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ae1e6755-ad92-4909-8ead-024ccf5fe1e6",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-02T18:06:01.814Z",
      "createdAt": "2025-12-02T18:06:01.814Z",
      "role": "workflow:owner",
      "workflowId": "xSiEu3Oaog5E0raR",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "tags": []
}