workflows/sincroniza-productos-syscom-xSiEu3Oaog5E0raR.json
{
  "updatedAt": "2025-12-03T22:56:54.224Z",
  "createdAt": "2025-12-02T18:06:01.814Z",
  "id": "xSiEu3Oaog5E0raR",
  "name": "Sincroniza productos SYSCOM",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        768
      ],
      "id": "ff53e006-da12-4032-90fc-470aaa2b6ef7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $env.SYSCOM_BASE_URL }}/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "categoria",
              "value": "={{ $env.SYSCOM_CATEGORIAS }}"
            },
            {
              "name": "sucursal",
              "value": "={{ $env.SYSCOM_SUCURSAL_MN }}"
            },
            {
              "name": "stock",
              "value": "1"
            },
            {
              "name": "agrupar",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SYSCOM_TOKEN }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pagina",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.todo === true }}",
              "limitPagesFetched": true,
              "maxRequests": 1,
              "requestInterval": 1000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        768
      ],
      "id": "727feaae-d942-4f3b-a460-cac9ec734ec9",
      "name": "HTTP - Productos página 1"
    },
    {
      "parameters": {
        "jsCode": "// Función auxiliar para convertir a número seguro\nfunction safeNumber(value, def = 0) {\n  if (value === null || value === undefined) return def;\n\n  const str = String(value).trim();\n\n  // Intentar parsear algo tipo \"123.45\" o \"123,45\"\n  const cleaned = str.replace(',', '.');\n  const n = parseFloat(cleaned);\n\n  if (Number.isFinite(n)) return n;\n\n  // Cualquier cosa tipo \"500 Rostros / 3,000 Huellas\" cae aquí\n  return def;\n}\n\nconst output = [];\n\nfor (const page of items) {\n  const productos = page.json.productos || [];\n\n  for (const p of productos) {\n    const cats = p.categorias || [];\n    const lvl1 = cats.find(c => c.nivel === 1) || {};\n    const lvl2 = cats.find(c => c.nivel === 2) || {};\n    const lvl3 = cats.find(c => c.nivel === 3) || {};\n\n    const stock =\n      (p.existencia && typeof p.existencia.nuevo !== 'undefined')\n        ? p.existencia.nuevo\n        : (p.total_existencia || 0);\n\n    output.push({\n      json: {\n        external_id: parseInt(p.producto_id, 10),\n        model: p.modelo,\n        brand: p.marca || null,\n        title: p.titulo,\n\n        // Precios saneados\n        list_price: safeNumber(p.precios?.precio_lista, 0),\n        special_price: safeNumber(p.precios?.precio_especial, 0),\n        customer_price: safeNumber(p.precios?.precio_descuento, 0),\n        exchange_rate: 0,\n        currency: 'MXN',\n\n        stock_cedis_mn: safeNumber(stock, 0),\n\n        tax_code: p.sat_key || null,\n        // Aquí es muy probable que haya venido el \"500 Rostros / 3\"\n        weight_kg: safeNumber(p.peso, 0),\n\n        image_url: p.img_portada || null,\n        link_public: p.link ? `https://www.syscom.mx${p.link}` : null,\n        link_private: p.link_privado || null,\n\n        menu_lvl_1: lvl1.nombre || null,\n        menu_lvl_2: lvl2.nombre || null,\n        menu_lvl_3: lvl3.nombre || null,\n        menu_id_1: lvl1.id ? parseInt(lvl1.id, 10) : 0,\n        menu_id_2: lvl2.id ? parseInt(lvl2.id, 10) : 0,\n        menu_id_3: lvl3.id ? parseInt(lvl3.id, 10) : 0,\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        768
      ],
      "id": "d82bc5a6-bfb8-4804-a298-27ae26fb57f5",
      "name": "Fn - Mapear productos a tabla"
    },
    {
      "parameters": {
        "batchSize": 300,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        768
      ],
      "id": "e30aad45-c8e7-406e-a661-295d33ad5682",
      "name": "SplitInBatches - productos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_state\nSET last_download_at = now()\nWHERE id = 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        624
      ],
      "id": "a8ba626c-9c4b-42db-aaf7-7a55191718f7",
      "name": "Update sync_state / FIN",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO products (\n  external_id,\n  model,\n  brand,\n  title,\n  list_price,\n  special_price,\n  customer_price,\n  exchange_rate,\n  stock_cedis_mn,\n  tax_code,\n  weight_kg,\n  image_url,\n  link_public,\n  link_private,\n  menu_lvl_1,\n  menu_lvl_2,\n  menu_lvl_3,\n  menu_id_1,\n  menu_id_2,\n  menu_id_3,\n  last_seen_at,\n  is_active\n) VALUES (\n  {{ $json[\"external_id\"] }},\n  {{ $json[\"model\"] ? `'${$json[\"model\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"brand\"] ? `'${$json[\"brand\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"title\"] ? `'${$json[\"title\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"list_price\"] || 0 }},\n  {{ $json[\"special_price\"] || 0 }},\n  {{ $json[\"customer_price\"] || 0 }},\n  {{ $json[\"exchange_rate\"] || 0 }},\n  {{ $json[\"stock_cedis_mn\"] || 0 }},\n  {{ $json[\"tax_code\"] ? `'${$json[\"tax_code\"]}'` : 'NULL' }},\n  {{ $json[\"weight_kg\"] || 0 }},\n  {{ $json[\"image_url\"] ? `'${$json[\"image_url\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"link_public\"] ? `'${$json[\"link_public\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"link_private\"] ? `'${$json[\"link_private\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"menu_lvl_1\"] ? `'${$json[\"menu_lvl_1\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"menu_lvl_2\"] ? `'${$json[\"menu_lvl_2\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"menu_lvl_3\"] ? `'${$json[\"menu_lvl_3\"].replace(/'/g,\"''\")}'` : 'NULL' }},\n  {{ $json[\"menu_id_1\"] || 0 }},\n  {{ $json[\"menu_id_2\"] || 0 }},\n  {{ $json[\"menu_id_3\"] || 0 }},\n  now(),\n  {{ $json[\"stock_cedis_mn\"] > 0 ? 'true' : 'false' }}\n)\nON CONFLICT (external_id)\nDO UPDATE SET\n  model          = EXCLUDED.model,\n  brand          = EXCLUDED.brand,\n  title          = EXCLUDED.title,\n  list_price     = EXCLUDED.list_price,\n  special_price  = EXCLUDED.special_price,\n  customer_price = EXCLUDED.customer_price,\n  exchange_rate  = EXCLUDED.exchange_rate,\n  stock_cedis_mn = EXCLUDED.stock_cedis_mn,\n  tax_code       = EXCLUDED.tax_code,\n  weight_kg      = EXCLUDED.weight_kg,\n  image_url      = EXCLUDED.image_url,\n  link_public    = EXCLUDED.link_public,\n  link_private   = EXCLUDED.link_private,\n  menu_lvl_1     = EXCLUDED.menu_lvl_1,\n  menu_lvl_2     = EXCLUDED.menu_lvl_2,\n  menu_lvl_3     = EXCLUDED.menu_lvl_3,\n  menu_id_1      = EXCLUDED.menu_id_1,\n  menu_id_2      = EXCLUDED.menu_id_2,\n  menu_id_3      = EXCLUDED.menu_id_3,\n  last_seen_at   = now(),\n  is_active      = (EXCLUDED.stock_cedis_mn > 0);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        864
      ],
      "id": "09f38471-1873-45cf-b69b-b4a0d05b4374",
      "name": "Postgres - Upsert a productos (nuevo)",
      "credentials": {
        "postgres": {
          "id": "U1gk6gNtS2AfXBnb",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Productos página 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Productos página 1": {
      "main": [
        [
          {
            "node": "Fn - Mapear productos a tabla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fn - Mapear productos a tabla": {
      "main": [
        [
          {
            "node": "SplitInBatches - productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches - productos": {
      "main": [
        [
          {
            "node": "Update sync_state / FIN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres - Upsert a productos (nuevo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert a productos (nuevo)": {
      "main": [
        [
          {
            "node": "SplitInBatches - productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "648fec63-e744-430e-a332-47cb7c0c0240",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-02T18:06:01.814Z",
      "createdAt": "2025-12-02T18:06:01.814Z",
      "role": "workflow:owner",
      "workflowId": "xSiEu3Oaog5E0raR",
      "projectId": "WR6tkeQzo7cAVCK0"
    }
  ],
  "tags": []
}