flujos/crear Cotizacion.json
{
  "name": "Procesar Cotización",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/procesar-cotizacion",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "webhook-cotizacion",
      "name": "Webhook Cotización",
      "webhookId": "procesar-cotizacion-webhook"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "cotizaciones",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cita_id": "={{ $json.body.cita_id }}",
            "texto_completo": "={{ $json.body.cotizacion_data.texto_completo }}",
            "total_equipos": "={{ $json.body.cotizacion_data.total_equipos }}",
            "estado": "pendiente"
          }
        },
        "options": {
          "returnFields": "id"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 300],
      "id": "insertar-cotizacion-principal",
      "name": "Insertar Cotización Principal",
      "credentials": {
        "postgres": {
          "id": "H2L3I6c2Fexd1oIU",
          "name": "Postgres account supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const productos = $json.body.cotizacion_data.productos;\nconst cotizacionId = $('Insertar Cotización Principal').first().json.id;\n\n// Si no hay productos, devolvemos un array vacío\nif (!productos || productos.length === 0) {\n  return [];\n}\n\n// Mapear cada producto a un objeto con el cotizacion_id\nconst items = productos.map(producto => ({\n  cotizacion_id: cotizacionId,\n  nombre_producto: producto.nombre,\n  cantidad: producto.cantidad,\n  precio_unitario: producto.precio_unitario,\n  subtotal: producto.subtotal\n}));\n\n// Devolver un array de objetos, cada uno se insertará en el siguiente nodo\nreturn items.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "preparar-productos",
      "name": "Preparar Productos"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "productos_cotizados",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cotizacion_id": "={{ $json.cotizacion_id }}",
            "nombre_producto": "={{ $json.nombre_producto }}",
            "cantidad": "={{ $json.cantidad }}",
            "precio_unitario": "={{ $json.precio_unitario }}",
            "subtotal": "={{ $json.subtotal }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [900, 300],
      "id": "insertar-productos",
      "name": "Insertar Productos",
      "credentials": {
        "postgres": {
          "id": "H2L3I6c2Fexd1oIU",
          "name": "Postgres account supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "fin-cotizacion",
      "name": "Fin Cotización"
    }
  ],
  "connections": {
    "Webhook Cotización": {
      "main": [
        [
          {
            "node": "Insertar Cotización Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Cotización Principal": {
      "main": [
        [
          {
            "node": "Preparar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Productos": {
      "main": [
        [
          {
            "node": "Insertar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Productos": {
      "main": [
        [
          {
            "node": "Fin Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "procesar-cotizacion-1",
  "meta": {
    "instanceId": "2e1b66ad7280a4a717f4c1bd04cae342dd49e97d21c59b9e939d59ee46794529"
  },
  "id": "procesar-cotizacion-flow",
  "tags": []
}