flujos/Crear Citas.json
{
  "name": "Crear Citas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/crear-cita",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": " application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        144
      ],
      "id": "ea33c515-4774-465b-aef9-f591a609ad13",
      "name": "Webhook",
      "webhookId": "a01a0f86-b582-496a-a87c-7a1725f8e523"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_cliente": "={{ $json.nombre_cliente }}",
            "telefono": "={{ $json.telefono }}",
            "email": "={{ $json.email }}",
            "tipo_servicio": "={{ $json.tipo_servicio }}",
            "direccion": "={{ $json.direccion }}",
            "fecha_entrega": "={{ $json.fecha_preferida }}",
            "hora_inicio": "={{ $json.hora_inicio }}",
            "hora_fin": "={{ $json.hora_fin }}",
            "estado": "={{ $json.estado }}",
            "id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_servicio",
              "displayName": "tipo_servicio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_entrega",
              "displayName": "fecha_entrega",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        144
      ],
      "id": "c2cd687c-9498-482a-94e6-3722203d576b",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "H2L3I6c2Fexd1oIU",
          "name": "Postgres account local"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "26511fe382958416668b7d02b1e0c4906a89ff2317546d62eec3f4e4a6a8c70a@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n test"
        },
        "start": "={{ $('Contruir DateTime').item.json.startDateTime }}",
        "end": "={{ $('Contruir DateTime').item.json.endDateTime }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        272,
        144
      ],
      "id": "7aed988c-87b7-489c-977c-6652f3ea769e",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "e3TwvjNW0L6Wiwx2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Entrada: $json trae, entre otros:\n// fecha_entrega: \"2025-11-18\"\n// hora_preferida: \"16:00-18:00\"\n\nconst fecha = `${$('Webhook').first().json.body.fecha_preferida}`;        // \"2025-11-18\"\nconst rango =  `${$('Webhook').first().json.body.hora_preferida}` || \"\"; // \"16:00-18:00\"\nconst [horaInicio, horaFin] = rango.split(\"-\"); // [\"16:00\", \"18:00\"]\n\n// Helper para obtener offset local en formato ±HH:MM\nfunction getOffsetString(date) {\n  const offsetMin = -date.getTimezoneOffset(); // minutos al ESTE de UTC\n  const sign = offsetMin >= 0 ? \"+\" : \"-\";\n  const abs = Math.abs(offsetMin);\n  const hh = String(Math.floor(abs / 60)).padStart(2, \"0\");\n  const mm = String(abs % 60).padStart(2, \"0\");\n  return `${sign}${hh}:${mm}`;\n}\n\n// Construimos Date en hora local\nconst dateStartLocal = new Date(`${fecha}T${horaInicio}:00`);\nconst dateEndLocal   = new Date(`${fecha}T${horaFin}:00`);\n\nconst offset = getOffsetString(dateStartLocal); // p.ej. \"-05:00\"\n\n// Formato final tipo 2025-11-18T16:00:00.000-05:00\nconst startDateTime = `${fecha}T${horaInicio}:00.000${offset}`;\nconst endDateTime   = `${fecha}T${horaFin}:00.000${offset}`;\n\nreturn [\n  {\n    ...$json,\n    // Para guardar en Postgres\n    hora_inicio: `${horaInicio}:00`, // \"16:00:00\"\n    hora_fin: `${horaFin}:00`,       // \"18:00:00\"\n    // Para Google Calendar\n    startDateTime,\n    endDateTime\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        144
      ],
      "id": "ce4c52bb-1618-4cdd-af8d-b0546e9c1811",
      "name": "Contruir DateTime"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Contruir DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contruir DateTime": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "471d7f3c-6bf2-458c-b148-7ba9504140ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e1b66ad7280a4a717f4c1bd04cae342dd49e97d21c59b9e939d59ee46794529"
  },
  "id": "4PEi6e3TAy4nHYsz",
  "tags": []
}