flujos/Crear Citas.json
{
  "name": "Crear Citas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/crear-cita",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": " application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        0
      ],
      "id": "ea33c515-4774-465b-aef9-f591a609ad13",
      "name": "Webhook",
      "webhookId": "a01a0f86-b582-496a-a87c-7a1725f8e523"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "nombre_cliente": "={{ $json.body.nombre }}",
            "telefono": "={{ $json.body.telefono }}",
            "email": "={{ $json.body.email }}",
            "tipo_servicio": "={{ $json.body.tipo_servicio }}",
            "direccion": "={{ $json.body.direccion }}",
            "hora_preferida": "={{ $json.body.fecha_preferida }}",
            "notas": "={{ $json.body.notas }}",
            "fecha_preferida": "={{ $json.body.fecha_preferida }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_servicio",
              "displayName": "tipo_servicio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_preferida",
              "displayName": "fecha_preferida",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_preferida",
              "displayName": "hora_preferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        0
      ],
      "id": "c2cd687c-9498-482a-94e6-3722203d576b",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "H2L3I6c2Fexd1oIU",
          "name": "Postgres account local"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "id": "7aed988c-87b7-489c-977c-6652f3ea769e",
      "name": "Create an event"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aeb1f1e3-030f-4667-bede-5f1df5e6ef68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e1b66ad7280a4a717f4c1bd04cae342dd49e97d21c59b9e939d59ee46794529"
  },
  "id": "4PEi6e3TAy4nHYsz",
  "tags": []
}