flujos/Procesar Cotización.json
{
  "name": "Procesar Cotización",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/procesar-cotizacion",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a16fed0f-32d2-47ea-84c3-06d829cddd39",
      "name": "Webhook Cotización",
      "webhookId": "procesar-cotizacion-webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cotizaciones",
          "mode": "list",
          "cachedResultName": "cotizaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cita_id": "={{ $json.body.cita_id }}",
            "texto_completo": "={{ $json.body.texto_instalacion }}",
            "total_equipos": "={{ $json.body.total_equipos }}",
            "estado": "pendiente",
            "created_at": "2025-11-23T15:10:31"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cita_id",
              "displayName": "cita_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "texto_completo",
              "displayName": "texto_completo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_equipos",
              "displayName": "total_equipos",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "c3ca90e1-6576-4c70-a487-93e58cca062b",
      "name": "Insertar Cotización Principal",
      "credentials": {
        "postgres": {
          "id": "YI0h9KtBqGS8itAZ",
          "name": "Postgres account local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cotizacionId = $input.first().json.id;\nconst equipos = $('Webhook Cotización').first().json.body.equipos || [];\nconst notasArray = $('Webhook Cotización').first().json.body.notas || [];\nconst notasTexto = notasArray.join('|');\n\nreturn equipos.map((eq) => ({\n  json: {\n    cotizacion_id: cotizacionId,\n    nombre_producto: eq.nombre,\n    cantidad: eq.cantidad,\n    precio_unitario: eq.precio_unitario,\n    subtotal: eq.subtotal,\n    notas: notasTexto || null,\n  },\n}));\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "1e9184c0-e8d9-4e88-92fc-f325213bda4a",
      "name": "Preparar Productos"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "productos_cotizados",
          "mode": "list",
          "cachedResultName": "productos_cotizados"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cotizacion_id": "={{ $json.cotizacion_id }}",
            "nombre_producto": "={{ $json.nombre_producto }}",
            "cantidad": "={{ $json.cantidad }}",
            "precio_unitario": "={{ $json.precio_unitario }}",
            "subtotal": "={{ $json.subtotal }}",
            "notas": "={{ $json.notas }}",
            "created_at": "2025-11-25T16:40:35"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cotizacion_id",
              "displayName": "cotizacion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_producto",
              "displayName": "nombre_producto",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cantidad",
              "displayName": "cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "precio_unitario",
              "displayName": "precio_unitario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        0
      ],
      "id": "5945bee6-59ce-4a0d-b1c5-5e86863bae59",
      "name": "Insertar Productos",
      "credentials": {
        "postgres": {
          "id": "YI0h9KtBqGS8itAZ",
          "name": "Postgres account local"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "5ec1192a-9f0a-4c43-a623-63b1b25542c3",
      "name": "Fin Cotización"
    }
  ],
  "pinData": {
    "Webhook Cotización": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.49.1",
            "accept": "*/*",
            "postman-token": "06dc7f1f-b831-4093-8573-93d188e79d10",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "738"
          },
          "params": {},
          "query": {},
          "body": {
            "cita_id": 1,
            "cliente": "Tenoch Emiliano",
            "tipo_servicio": "cctv",
            "tipo_inmueble": "casa",
            "equipos": [
              {
                "nombre": "Cámara Domo 2MP IR 30m",
                "cantidad": 1,
                "precio_unitario": 4500,
                "subtotal": 4500
              }
            ],
            "total_equipos": 4500,
            "incluye_instalacion": false,
            "texto_instalacion": "Instalación y configuración: A cotizar después de visita técnica.",
            "notas": [
              "La presente es una cotización preliminar basada en la información proporcionada.",
              "El costo de instalación se definirá después de una visita técnica.",
              "Precios sujetos a cambios según disponibilidad y condiciones del sitio."
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/procesar-cotizacion",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook Cotización": {
      "main": [
        [
          {
            "node": "Insertar Cotización Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Cotización Principal": {
      "main": [
        [
          {
            "node": "Preparar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Productos": {
      "main": [
        [
          {
            "node": "Insertar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Productos": {
      "main": [
        [
          {
            "node": "Fin Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "35d41599-1b8f-4d13-a493-c4f016ed3d39",
  "meta": {
    "instanceId": "2e1b66ad7280a4a717f4c1bd04cae342dd49e97d21c59b9e939d59ee46794529"
  },
  "id": "HCNa7ytsaNkuVxQC",
  "tags": []
}